Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

Hardcode previous tag to v1.5.1 for now.
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Install python build dependencies.
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Include path to metadata to python script.
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Update the validation script to output more info on changed files.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Put fetch-depth: 0 to be able to get tags.
  .github/workflows/create_release.yml
Owners: @SparkingSpork, @astarche, @mgumble

Update logic to get previous tag.
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Add --tags to find the previous tag in the history.
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Update name of step
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Clean up the action name.
  .github/workflows/validate_linux_rt.yml
  source/codegen/validate-linux-rt.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Use different method to get previous tag.
  .github/workflows/create_release.yml
Owners: @SparkingSpork, @astarche, @mgumble

Change tag to match to be v*.*.*
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Fix order of imports.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Zip windows artifacts and supply body inline.
  .github/workflows/create_release.yml
Owners: @SparkingSpork, @astarche, @mgumble

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble
