Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

Adding metadata for 2 more APIs
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/functions.py
Owners: @reckenro, @jonlugoatx

Modification suggested by dan
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

MInor renaming
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

adding 3 important corner test cases
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Solve error
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Adding the auto generated implementation.
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
Owners: @reckenro, @jonlugoatx

Updated documentation
  source/codegen/metadata/niswitch/CHANGES.md
Owners: @reckenro, @jonlugoatx

Rectified merge issues.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
Owners: @reckenro, @jonlugoatx

Rectified merge issues(2)
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
Owners: @reckenro, @jonlugoatx

Resolve merge conflicts
  generated/nifake/nifake_service.cpp
Owners: @reckenro, @jonlugoatx

Removing unnecessary ClientContext
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

Initial feedback on naming and additional test
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Adding system tests for NI-SCOPE Sessions and error handling (#99)
  CMakeLists.txt
  source/tests/system/niscope_session_tests.cpp
  source/tests/system/stub_test.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Support multiple init methods for Sessions.
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/functions.py
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Adding test fixture and first test
  CMakeLists.txt
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niscope_session_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Update 'python-code' mechanisms to 'custom-code'
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Support multiple init methods for Sessions. (#103)
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/functions.py
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Update session test refs
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

Adding a second utility test
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Update 'Init" function to generate properly.
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/tests/system/niscope_session_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Reworking fixture to follow GoogleTest recommendations
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

Mark ni-scope methods needing custom implementations.
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/metadata/niscope/functions.py
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Codegen Copy methods for every custom type.
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
Owners: @reckenro, @jonlugoatx

Get Copy functions generating for NIComplex structs.
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/config.py
Owners: @reckenro, @jonlugoatx

Implemented most of ni scope custom funcs.
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  source/codegen/metadata/niscope/functions.py
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Fixing duplicate set_resource_name
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Owners comments to use nicemock and modify constant name
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Moving test to integration. Need to fix error still
  CMakeLists.txt
  generated/niscope/niscope_mock_library.h
  generated/niswitch/niswitch_mock_library.h
  source/codegen/mock_library.h.mako
  source/tests/integration/in_process_server_client_tests.cpp
  source/tests/integration/ni_fake_service_tests.cpp
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Modified mock library to be in integration
  generated/nifake/nifake_mock_library.h
Owners: @reckenro, @jonlugoatx

Using mock lirbary in integration tests of niscope
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/system/niscope_session_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Working
  CMakeLists.txt
  generated/nifake/nifake_mock_library.h
  generated/niscope/niscope_mock_library.h
  generated/niswitch/niswitch_mock_library.h
  source/codegen/mock_library.h.mako
  source/tests/integration/in_process_server_client_tests.cpp
  source/tests/integration/ni_fake_service_tests.cpp
  source/tests/integration/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Minor
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

adding system tests for device enumerator
  CMakeLists.txt
  source/tests/system/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Removing syscfg_library.cpp from integration tests
  CMakeLists.txt
Owners: @SparkingSpork

removing hierarchical manner from the comments
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Adding metadata for 2 more Switch APIs (#102)
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/functions.py
Owners: @reckenro, @jonlugoatx

Enumerate device example using python
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

[Owners] Adding NI-SCOPE system tests fixture and Utility function tests (#104)
  CMakeLists.txt
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niscope_session_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Update LICENSE
  LICENSE
Owners: @jonlugoatx

[Owners] Add NI-Scope metadata (#101)
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/handler_helpers.py
  source/codegen/library.cpp.mako
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/metadata/niscope/functions.py
  source/tests/system/niscope_session_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30
