Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

No longer generates in structs for fake metadata
  generated/nifake/nifake.proto
  generated/nifake/nifake_library_wrapper.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/common_helpers.py
  source/codegen/generate_service.py
  source/codegen/proto.mako
  source/codegen/service.h.mako
  source/metadata/nifake/custom_header.mako
  source/metadata/nifake/functions.py
  source/metadata/niscope/custom_header.mako
Owners: @reckenro, @jonlugoatx

Remove fake functions not in use
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_mock_library.h
  source/codegen/metadata/nifake/custom_proto.mako
  source/codegen/metadata/niscope/custom_proto.mako
  source/metadata/niscope/custom_proto.mako
Owners: @reckenro, @jonlugoatx

Use p instead of parameter in filter function.
  source/codegen/proto_helpers.py
Owners: @reckenro, @jonlugoatx

Tag 'len' params dynamically, not in metadata.
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/functions.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Factor out initialize def for len params.
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Writing test and fixing session_repository SessionInfo destructor
  source/server/session_repository.cpp
  source/server/session_repository.h
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Updating init functions to use mutable_vi()
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Adding more tests
  source/server/session_repository.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Initial version of new tests implemented.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Rename test
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Implement feedback on tests
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/unit/server_security_configuration_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Update clang-format
  .clang-format
Owners: @jonlugoatx

Implement SSL/TLS for Server (#55)
  CMakeLists.txt
  server_config.json
  source/config/insecure_config.json
  source/config/mutual_tls.json
  source/config/server_side_tls.json
  source/server/core_server.cpp
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/server/server_security_configuration.cpp
  source/server/server_security_configuration.h
  source/tests/assets/test_client_self_signed_crt.pem
  source/tests/assets/test_server_privatekey.pem
  source/tests/assets/test_server_self_signed_crt.pem
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/unit/server_security_configuration_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Fix intermittent unit and integration tests
  source/core_server/hardware/grpc/internal/session_repository.cpp
  source/tests/unit/core_service_tests.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Renaming device management to device enumerator
  source/server/device_enumerator.h
Owners: @jonlugoatx

Add unit tests back and apply fix to more tests.
  source/tests/unit/core_service_tests.cpp
Owners: @epetersoni, @kylesull30

Adding 64 bit version of switch library
  imports/lib/win64/niswitch.lib
Owners: @jonlugoatx

Apply clang-format
  source/server/core_server.cpp
  source/server/server_security_configuration.cpp
Owners: @jonlugoatx

implementing wrapper for device enumeration
  CMakeLists.txt
  source/server/core_server.cpp
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/device_enumerator_library.cpp
  source/server/device_enumerator_library.h
  source/server/device_enumerator_library_interface.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_library_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

self-review
  source/server/core_server.cpp
  source/server/device_enumerator.h
  source/server/device_enumerator_library.h
Owners: @jonlugoatx

improving diff
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

avoiding conflicts
  CMakeLists.txt
Owners: @SparkingSpork

Changed the comment
  examples/device enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Moving metadata to the new location.
  CMakeLists.txt
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/__init__.py
  source/codegen/metadata/niswitch/attributes.py
  source/codegen/metadata/niswitch/attributes_addon.py
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/niswitch/config_addon.py
  source/codegen/metadata/niswitch/enums.py
  source/codegen/metadata/niswitch/enums_addon.py
  source/codegen/metadata/niswitch/functions.py
  source/codegen/metadata/niswitch/functions_addon.py
Owners: @SparkingSpork, @reckenro, @jonlugoatx

1) Changed map variable names 2) Added comment describing the way to set the parent field 3) Used empty() function instead of size() function for strings
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Adding device enurator tests using gmock
  CMakeLists.txt
  source/server/device_enumerator.cpp
  source/server/device_enumerator_fake_library.cpp
  source/server/device_enumerator_fake_library.h
  source/server/device_enumerator_library.cpp
  source/server/device_enumerator_library.h
  source/server/device_enumerator_library_interface.h
  source/tests/unit/device_enumerator_mock_library.h
  source/tests/unit/device_enumerator_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Changed map variable names to convinient ones
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Minor
  source/tests/unit/device_enumerator_library_tests.cpp
Owners: @epetersoni, @kylesull30

Fix all new tests to assert arguments match what we expect.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Ran clang-format on tests.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Try something new
  source/protobuf/session.proto
Owners: @jonlugoatx

Fix build
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Reworking cleanup and close session functions, test feedback
  source/server/session_repository.cpp
  source/server/session_repository.h
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Simplify if statement in create_args.
  source/codegen/handler_helpers.py
Owners: @reckenro, @jonlugoatx

Add wait in integration test
  source/tests/integration/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Remove lonely semicolon.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Add using for ::testing::SetArrayArgument.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

clang format test classes
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

chop long line
  source/tests/integration/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Chop another long line
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30
