Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

Documentation changes post PO Validation
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Reverted print statements reorder
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Resolved comments and updated comments
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

XNET Socket API cleanup: C-specific memory oriented names
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Documentation changes post validation (#640)
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

change `add_dependent_session` changes for `db_ref` and `db_ref_array` properties in `GetProperty`
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

fixing typos in GetProperty and DbGetProperty
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

minor
  CMakeLists.txt
  source/custom/nixnet_service.custom.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

minor
  source/custom/nixnet_service.custom.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

minor
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Cleanup Get/SetProperty* APIs
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Add missing XNET db proprety constants
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/enums.py
Owners: @reckenro, @astarche, @mgumble

buffer clearing bug and associated can tests
  CMakeLists.txt
  source/custom/nixnet_converters.h
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Add missing XNET db proprety constants (#644)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/enums.py
Owners: @reckenro, @astarche, @mgumble

removed anonymous namespace and made some internal functions inline
  source/tests/system/nixnet_lin_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

hit n trial for linux build
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

build failure resolution
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update type for properties that return device and interface references (#641)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

minor
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

fixing build errors on linux
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

minor missing fix for build error on linux
  source/tests/system/nixnet_can_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

More API cleanup for Xnet Socket (#637)
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Change interface to interface_name in xnet CreateSession API (#638)
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
Owners: @astarche, @mgumble, @reckenro

XNET Socket API cleanup: C-specific memory oriented names (#642)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update flow_info to flowinfo
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Don't generate attributes enum when there are no attributes
  generated/nifake_extension/nifake_extension.proto
  generated/nixnet/nixnet.proto
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/templates/proto_helpers.mako
Owners: @reckenro, @astarche, @mgumble

reorg inaddrs
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
Owners: @reckenro, @astarche, @mgumble

Update DC Power.
  generated/nidcpower/nidcpower.proto
  generated/nidcpower/nidcpower_service.cpp
  source/codegen/metadata/nidcpower/config.py
  source/codegen/metadata/nidcpower/functions.py
  source/custom/ivi_errors.h
  source/tests/system/nidcpower_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Include custom/ivi_errors.h in the services.
  generated/nidigitalpattern/nidigitalpattern_service.cpp
  generated/nidmm/nidmm_service.cpp
  generated/nifgen/nifgen_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  generated/nisync/nisync_service.cpp
  generated/nitclk/nitclk_service.cpp
  source/codegen/metadata/nidigitalpattern/config.py
  source/codegen/metadata/nidmm/config.py
  source/codegen/metadata/nifgen/config.py
  source/codegen/metadata/nirfsg/config.py
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/nisync/config.py
  source/codegen/metadata/nitclk/config.py
Owners: @reckenro, @astarche, @mgumble

Include ivi_errors in nirfsa.
  generated/nirfsa/nirfsa_service.cpp
  source/codegen/metadata/nirfsa/config.py
Owners: @reckenro, @astarche, @mgumble

Update flow_info to flowinfo (#646)
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Get last error for IVI init methods
  generated/nidigitalpattern/nidigitalpattern.proto
  generated/nidigitalpattern/nidigitalpattern_service.cpp
  generated/nidmm/nidmm.proto
  generated/nidmm/nidmm_service.cpp
  generated/nifgen/nifgen.proto
  generated/nifgen/nifgen_service.cpp
  generated/nirfsa/nirfsa.proto
  generated/nirfsa/nirfsa_service.cpp
  generated/nirfsg/nirfsg.proto
  generated/nirfsg/nirfsg_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  generated/nitclk/nitclk_service.cpp
  source/codegen/metadata/nidigitalpattern/functions.py
  source/codegen/metadata/nidmm/functions.py
  source/codegen/metadata/nifgen/functions.py
  source/codegen/metadata/nirfsa/functions.py
  source/codegen/metadata/nirfsg/functions.py
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata/niswitch/functions.py
  source/codegen/metadata/nisync/functions.py
  source/codegen/metadata/nitclk/config.py
Owners: @reckenro, @astarche, @mgumble

Don't generate attributes enum when there are no attributes (#647)
  generated/nifake_extension/nifake_extension.proto
  generated/nixnet/nixnet.proto
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/templates/proto_helpers.mako
Owners: @reckenro, @astarche, @mgumble

Remove changes to NI Sync.
  generated/nisync/nisync_service.cpp
  source/codegen/metadata/nisync/config.py
Owners: @reckenro, @astarche, @mgumble

Update session tests.
  source/tests/system/nidcpower_session_tests.cpp
  source/tests/system/nidigital_session_tests.cpp
  source/tests/system/nidmm_session_tests.cpp
  source/tests/system/nifgen_session_tests.cpp
  source/tests/system/nirfsg_session_tests.cpp
  source/tests/system/niscope_session_tests.cpp
  source/tests/system/niswitch_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add rfsa test.
  source/tests/system/nirfsa_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update examples.
  examples/nidcpower/measure-record.py
  examples/nidigitalpattern/configure-voltage-levels-and-termination-voltage.py
  examples/nidmm/continuous-acquire-graph-multiple-points.py
  examples/nifgen/basic-arbitrary-waveform.py
  examples/nirfsa/getting-started-iq.py
  examples/nirfsa/getting-started-spectrum.py
  examples/nirfsg/getting-started-single-tone-generation.py
  examples/nirfsg/reference-clock.py
  examples/niscope/fetch-continuous.py
  examples/niscope/fetch.py
  examples/niscope/graph-measurement.py
  examples/niscope/plot-read-waveform.py
  examples/niswitch/controlling-an-individual-relay.py
  examples/niswitch/software-scanning.py
Owners: @astarche, @mgumble

making pb and client namespace as global
  source/tests/system/nixnet_lin_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

added helper for setting frame
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add system tests for XNET LIN (#643)
  CMakeLists.txt
  source/tests/system/nixnet_lin_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble
