Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Remove TYPE enum prefix, since the enum name already ends in Type
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/enums.py
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Single source EXPECT_* macros across RFmx system-level tests. (#546)
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_expect_macros.h
Owners: @reckenro, @astarche, @mgumble

Enable black for metadata_*.py files (#544)
  pyproject.toml
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
Owners: @astarche, @mgumble, @reckenro

Add metadata validation for 2D optional size param
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

use requirements.txt for validate_examples deps
  .github/workflows/build_cmake.yml
  python_build_requirements.txt
Owners: @SparkingSpork, @astarche, @mgumble

Capture failed status and install poetry
  .github/workflows/build_cmake.yml
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Test failure with strict
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

fixup exit code
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Remove TYPE enum prefix, since the enum name already ends in Type (#538)
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/enums.py
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Move python validation to separate workflow
  .github/workflows/build_cmake.yml
  .github/workflows/validate_python.yml
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

import order
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Inline the EXPECT_SUCCESS macro; expand error output
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_expect_macros.h
Owners: @reckenro, @astarche, @mgumble

Be consistent with constants usage
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Inline the EXPECT_SUCCESS macro; expand error output (#549)
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_expect_macros.h
Owners: @reckenro, @astarche, @mgumble

Create shared macros for getting attribute values
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_expect_macros.h
Owners: @reckenro, @astarche, @mgumble

Set Instr attribute types (#534)
  source/codegen/metadata/nirfmxinstr/attributes.py
Owners: @reckenro, @astarche, @mgumble

Rename macros header file
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_macros.h
Owners: @reckenro, @astarche, @mgumble

Add support for repeated structs and grpc_name in optional array inputs (#541)
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nidcpower/nidcpower_service.cpp
  generated/nifake/nifake.proto
  generated/nifake/nifake_client.cpp
  generated/nifake/nifake_client.h
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifgen/nifgen_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata_validation.py
  source/codegen/templates/service_helpers.mako
  source/server/converters.h
  source/tests/unit/converters_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add optional linked arrays for RFmx
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxnr/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Always use _ERROR/_WARNING suffix; always use _STR constant for error/warning text; always check error/warning text when possible; always check error/warning immediately after call
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Create shared macros for getting attribute values (#550)
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_macros.h
Owners: @reckenro, @astarche, @mgumble

Rename IVI error constant
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Import updated metadata from scrapigen.
  source/codegen/metadata/nirfmxbluetooth/enums.py
  source/codegen/metadata/nirfmxinstr/attributes.py
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/codegen/metadata/nirfmxspecan/enums.py
  source/codegen/metadata/nirfmxwlan/enums.py
Owners: @reckenro, @astarche, @mgumble

Generate proto files and fix references to changed enums.
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxwlan/nirfmxwlan.proto
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Use reusable workflow for validate_python
  .github/workflows/build_cmake.yml
  .github/workflows/validate_python.yml
Owners: @SparkingSpork, @astarche, @mgumble

Remove repeating enum value suffixes matching .NET Enums. (#553)
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxwlan/nirfmxwlan.proto
  source/codegen/metadata/nirfmxbluetooth/enums.py
  source/codegen/metadata/nirfmxinstr/attributes.py
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/codegen/metadata/nirfmxspecan/enums.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Check untyped defs in validate examples (#548)
  .github/workflows/build_cmake.yml
  .github/workflows/validate_python.yml
  python_build_requirements.txt
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Be consistent with constants usage (#551)
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use vectors to catch all results in for loops
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_macros.h
Owners: @reckenro, @astarche, @mgumble

Uncomment and update value tests
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use vectors to catch all results in for loops (#554)
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_macros.h
Owners: @reckenro, @astarche, @mgumble

Remove disabled tests
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add optional linked arrays for RFmx (#552)
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxnr/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add LTE APIs
  generated/nirfmxlte/nirfmxlte.proto
  generated/nirfmxlte/nirfmxlte_client.cpp
  generated/nirfmxlte/nirfmxlte_client.h
  generated/nirfmxlte/nirfmxlte_library.cpp
  generated/nirfmxlte/nirfmxlte_library.h
  generated/nirfmxlte/nirfmxlte_library_interface.h
  generated/nirfmxlte/nirfmxlte_mock_library.h
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxlte/nirfmxlte_service.h
  generated/nirfmxlte/nirfmxlte_service_registrar.cpp
  generated/nirfmxlte/nirfmxlte_service_registrar.h
  generated/register_all_services.cpp
  source/codegen/metadata/nirfmxlte/attributes.py
  source/codegen/metadata/nirfmxlte/enums.py
  source/codegen/metadata/nirfmxlte/functions.py
  source/tests/system/nirfmxlte_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Remove reserved parameters from proto
  generated/nirfmxlte/nirfmxlte.proto
  generated/nirfmxlte/nirfmxlte_client.cpp
  generated/nirfmxlte/nirfmxlte_client.h
  generated/nirfmxlte/nirfmxlte_service.cpp
  source/codegen/metadata/nirfmxlte/functions.py
Owners: @reckenro, @astarche, @mgumble

Tag optional arrays as appropriate
  generated/nirfmxlte/nirfmxlte_service.cpp
  source/codegen/metadata/nirfmxlte/functions.py
Owners: @reckenro, @astarche, @mgumble

Ensure all attribute names are upper-snake-case
  generated/nirfmxlte/nirfmxlte.proto
  source/codegen/metadata/nirfmxlte/attributes.py
Owners: @reckenro, @astarche, @mgumble

Fix type annotation in validate_examples for python <3.9
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Change python version in validate_python.yml
  .github/workflows/validate_python.yml
  .python-version
Owners: @SparkingSpork, @astarche, @mgumble

delete python version file
  .python-version
Owners: @astarche, @mgumble
