Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Re-use common_helpers' get_function_enums
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Trigger same validation regardless of driver release state.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Add metadata validation for enums not referenced by function/attribute. (#663)
  source/codegen/metadata/nifake/enums.py
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Delete ProtocolFamily enum. Covered by AddressFamily.
  source/codegen/metadata/nixnetsocket/enums.py
Owners: @reckenro, @astarche, @mgumble

Fix up DC Power enums.
  generated/nidcpower/nidcpower.proto
  generated/nidcpower/nidcpower_client.cpp
  generated/nidcpower/nidcpower_client.h
  source/codegen/metadata/nidcpower/enums.py
  source/codegen/metadata/nidcpower/functions.py
Owners: @reckenro, @astarche, @mgumble

WaitForEvent should use Event enum.
  generated/nidcpower/nidcpower.proto
  generated/nidcpower/nidcpower_client.cpp
  generated/nidcpower/nidcpower_client.h
  source/codegen/metadata/nidcpower/functions.py
Owners: @reckenro, @astarche, @mgumble

Fix up FGEN missing enums.
  generated/nifgen/nifgen.proto
  generated/nifgen/nifgen_client.cpp
  generated/nifgen/nifgen_client.h
  generated/nifgen/nifgen_service.cpp
  source/codegen/metadata/nifgen/enums.py
  source/codegen/metadata/nifgen/functions.py
Owners: @reckenro, @astarche, @mgumble

Remove unreferenced attribute enums for niswitch.
  source/codegen/metadata/niswitch/enums.py
Owners: @reckenro, @astarche, @mgumble

First pass on missing niscope enums.
  generated/niscope/niscope.proto
  generated/niscope/niscope_client.cpp
  generated/niscope/niscope_client.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/__init__.py
  source/codegen/metadata/niscope/attributes.py
  source/codegen/metadata/niscope/enums.py
  source/codegen/metadata/niscope/enums_addon.py
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @astarche, @mgumble

Include InputImpedance and MaxInputFrequency.
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/attributes.py
  source/codegen/metadata/niscope/enums.py
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Handle new sync warning
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix scope examples.
  examples/niscope/fetch-continuous.py
  examples/niscope/fetch.py
  examples/niscope/graph-measurement-betterproto.py
  examples/niscope/graph-measurement.py
  examples/niscope/plot-read-waveform-betterproto.py
  examples/niscope/plot-read-waveform.py
Owners: @astarche, @mgumble

Change warning to exception for missing enum.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Fix missing fgen and switch enums. (#666)
  generated/nifgen/nifgen.proto
  generated/nifgen/nifgen_client.cpp
  generated/nifgen/nifgen_client.h
  generated/nifgen/nifgen_service.cpp
  source/codegen/metadata/nifgen/enums.py
  source/codegen/metadata/nifgen/functions.py
  source/codegen/metadata/niswitch/enums.py
Owners: @reckenro, @astarche, @mgumble

Fix missing dc power and xnetxocket enums. (#665)
  generated/nidcpower/nidcpower.proto
  generated/nidcpower/nidcpower_client.cpp
  generated/nidcpower/nidcpower_client.h
  source/codegen/metadata/nidcpower/enums.py
  source/codegen/metadata/nidcpower/functions.py
  source/codegen/metadata/nixnetsocket/enums.py
Owners: @reckenro, @astarche, @mgumble

Remove unused warnings import.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Handle new sync warning (#668)
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Added field number overrides
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/functions.py
  source/codegen/proto_helpers.py
Owners: @reckenro, @astarche, @mgumble

Address missing ni-scope enums. (#667)
  examples/niscope/fetch-continuous.py
  examples/niscope/fetch.py
  examples/niscope/graph-measurement-betterproto.py
  examples/niscope/graph-measurement.py
  examples/niscope/plot-read-waveform-betterproto.py
  examples/niscope/plot-read-waveform.py
  generated/niscope/niscope.proto
  generated/niscope/niscope_client.cpp
  generated/niscope/niscope_client.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/__init__.py
  source/codegen/metadata/niscope/attributes.py
  source/codegen/metadata/niscope/enums.py
  source/codegen/metadata/niscope/enums_addon.py
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata_validation.py
  source/codegen/proto_helpers.py
Owners: @astarche, @mgumble, @reckenro

Change warning to exception for missing enums. (#669)
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Add config flag for linux rt support
  source/codegen/metadata/nidaqmx/config.py
  source/codegen/metadata/nidcpower/config.py
  source/codegen/metadata/nidigitalpattern/config.py
  source/codegen/metadata/nidmm/config.py
  source/codegen/metadata/nifake/config.py
  source/codegen/metadata/nifake_extension/config.py
  source/codegen/metadata/nifake_non_ivi/config.py
  source/codegen/metadata/nifgen/config.py
  source/codegen/metadata/nirfmxbluetooth/config.py
  source/codegen/metadata/nirfmxinstr/config.py
  source/codegen/metadata/nirfmxlte/config.py
  source/codegen/metadata/nirfmxnr/config.py
  source/codegen/metadata/nirfmxspecan/config.py
  source/codegen/metadata/nirfmxwlan/config.py
  source/codegen/metadata/nirfsa/config.py
  source/codegen/metadata/nirfsg/config.py
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/nisync/config.py
  source/codegen/metadata/nitclk/config.py
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnetsocket/config.py
Owners: @reckenro, @astarche, @mgumble

Update Changes.md for those that documented metadata
  source/codegen/metadata/nidaqmx/CHANGES.md
  source/codegen/metadata/nidcpower/CHANGES.md
  source/codegen/metadata/nidigitalpattern/CHANGES.md
  source/codegen/metadata/nidmm/CHANGES.md
  source/codegen/metadata/nifgen/CHANGES.md
  source/codegen/metadata/nirfmxinstr/CHANGES.md
  source/codegen/metadata/nirfmxlte/CHANGES.md
  source/codegen/metadata/nirfmxnr/CHANGES.md
  source/codegen/metadata/nirfmxspecan/CHANGES.md
  source/codegen/metadata/nirfmxwlan/CHANGES.md
  source/codegen/metadata/nirfsa/CHANGES.md
  source/codegen/metadata/nirfsg/CHANGES.md
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/nisync/CHANGES.md
  source/codegen/metadata/nitclk/CHANGES.md
  source/codegen/metadata/nixnet/CHANGES.md
Owners: @reckenro, @astarche, @mgumble

Add Linux RT tag to config.py (#670)
  source/codegen/metadata/nidaqmx/CHANGES.md
  source/codegen/metadata/nidaqmx/config.py
  source/codegen/metadata/nidcpower/CHANGES.md
  source/codegen/metadata/nidcpower/config.py
  source/codegen/metadata/nidigitalpattern/CHANGES.md
  source/codegen/metadata/nidigitalpattern/config.py
  source/codegen/metadata/nidmm/CHANGES.md
  source/codegen/metadata/nidmm/config.py
  source/codegen/metadata/nifake/config.py
  source/codegen/metadata/nifake_extension/config.py
  source/codegen/metadata/nifake_non_ivi/config.py
  source/codegen/metadata/nifgen/CHANGES.md
  source/codegen/metadata/nifgen/config.py
  source/codegen/metadata/nirfmxbluetooth/config.py
  source/codegen/metadata/nirfmxinstr/CHANGES.md
  source/codegen/metadata/nirfmxinstr/config.py
  source/codegen/metadata/nirfmxlte/CHANGES.md
  source/codegen/metadata/nirfmxlte/config.py
  source/codegen/metadata/nirfmxnr/CHANGES.md
  source/codegen/metadata/nirfmxnr/config.py
  source/codegen/metadata/nirfmxspecan/CHANGES.md
  source/codegen/metadata/nirfmxspecan/config.py
  source/codegen/metadata/nirfmxwlan/CHANGES.md
  source/codegen/metadata/nirfmxwlan/config.py
  source/codegen/metadata/nirfsa/CHANGES.md
  source/codegen/metadata/nirfsa/config.py
  source/codegen/metadata/nirfsg/CHANGES.md
  source/codegen/metadata/nirfsg/config.py
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/nisync/CHANGES.md
  source/codegen/metadata/nisync/config.py
  source/codegen/metadata/nitclk/CHANGES.md
  source/codegen/metadata/nitclk/config.py
  source/codegen/metadata/nixnet/CHANGES.md
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnetsocket/config.py
Owners: @reckenro, @astarche, @mgumble

Create script to check if linux rt feed needs updating.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Make validate python style happy.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Put summary doc string on first line.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Blank line between summary line and description.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Rename methods.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Rework the script to be more accurate and honest.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Remove temp import.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Also ignore test changes along with codegen changes.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Simplify remaining_changes check against set.
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

Create script to check if Linux RT feed needs updating. (#671)
  source/codegen/validate-linux-rt.py
Owners: @reckenro, @astarche, @mgumble

CMakeLists: use find_package for gtest dep (#660)
  CMakeLists.txt
Owners: @SparkingSpork, @astarche, @mgumble

Add create_release action.
  .github/release_template.md
  .github/workflows/ci.yml
  .github/workflows/create_release.yml
Owners: @astarche, @mgumble, @SparkingSpork

Generate release notes for the release.
  .github/workflows/create_release.yml
Owners: @SparkingSpork, @astarche, @mgumble

Put all artifacts in release.
  .github/workflows/create_release.yml
Owners: @SparkingSpork, @astarche, @mgumble

Use patch increment for version.
  .github/workflows/create_release.yml
Owners: @SparkingSpork, @astarche, @mgumble

Create action to run validate_linux_rt.py
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble

Remove blank line.
  .github/workflows/validate_linux_rt.yml
Owners: @SparkingSpork, @astarche, @mgumble
