Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Add nxstrerr_r to xnet socket service (#631)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/generate_service.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Param names more like nxsocket
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Fix RRSET and prototcol
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

rename IsSet to FdIsSet
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Make struct names more consistent with nxsocket
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix vlane name
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Consistent untokenized constant names
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/enums.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add AddressFamily enums
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Avoid python keywords in field names
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

review feedback
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

regen
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
Owners: @reckenro, @astarche, @mgumble

Add more sytem tests for xnet socket API (#632)
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add missing enums
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update for default value
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Fix Name
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Fix ordering of FdIsSet
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Updated message description and comments
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Resolved comments
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

GetProperty support for ref_array type instead of u32[] for one of the properties
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Added Test
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Xnet socket API cleanup (#633)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add support for bitfield_as_enum_array inputs
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/proto_helpers.py
  source/codegen/templates/client_helpers.mako
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/server/converters.h
  source/tests/system/nisync_driver_api_tests.cpp
  source/tests/unit/converters_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
  source/tests/utilities/client_helpers.h
Owners: @reckenro, @astarche, @mgumble

PR feedback
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add const
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Updated enum names after merge
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Add NameInfo flags
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Dependent name
  source/tests/utilities/client_helpers.h
Owners: @reckenro, @astarche, @mgumble

Still no CTAD on nilrt
  source/tests/unit/converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Users/dstull/sock opt string length (#635)
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Updated message description and comments (#634)
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Add support for bitfield_as_enum_array inputs (#636)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/proto_helpers.py
  source/codegen/templates/client_helpers.mako
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/server/converters.h
  source/tests/system/nisync_driver_api_tests.cpp
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/converters_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
  source/tests/utilities/client_helpers.h
Owners: @reckenro, @astarche, @mgumble

temp
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  generated/nixnet/nixnet_service_registrar.cpp
  generated/nixnet/nixnet_service_registrar.h
  generated/register_all_services.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/templates/service_registrar.h.mako
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

More API cleanup for Xnet Socket
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Change interface to interface_name in xnet CreateSession API
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
Owners: @astarche, @mgumble, @reckenro

Fix build erros due to interface param name and includes ordering for convert template overrides
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  generated/nixnet/nixnet_service_registrar.h
  source/codegen/metadata/nirfmxinstr/config.py
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/templates/service.h.mako
  source/custom/nixnet_converters.h
Owners: @reckenro, @astarche, @mgumble

trim down includes in xnet custom service
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

GetProperty implementation for interface and device references
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

remove changes for additional dev and intf repositories
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  generated/nixnet/nixnet_service_registrar.cpp
  generated/nixnet/nixnet_service_registrar.h
  generated/register_all_services.cpp
  source/codegen/metadata/nirfmxinstr/config.py
  source/codegen/metadata/nixnet/config.py
  source/codegen/templates/service.h.mako
  source/codegen/templates/service_registrar.h.mako
  source/custom/nixnet_converters.h
Owners: @reckenro, @astarche, @mgumble

remove changes not related to this PR
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Feedback comments post PO Validation
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble
