Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Simplify tests
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Switch tests over to using gtest's ElementsAreArray matcher.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Update clang-format to properly indent ternary operators (#64)
  .clang-format
  source/server/core_server.cpp
  source/server/server_security_configuration.cpp
Owners: @jonlugoatx

Add ErrorMessage to the gRPC API
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Add exception for server certs
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

add tests for other funcs
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Using new clang-format, session_repository feedback
  source/server/session_repository.cpp
  source/server/session_repository.h
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Test types and formatting
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Add NIFake Unit Tests for Init and Close methods (#63)
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
  source/server/session_repository.cpp
  source/server/session_repository.h
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Test formatting and naming convention fixes
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Implement test feedback
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

More test feedback
  source/tests/integration/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Update local variables in tests to use snake_case.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Handle arrays using 'len' and 'fixed' size mechanisms. (#62)
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Implement command line parsing
  source/server/core_server.cpp
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
Owners: @jonlugoatx

Fix failing test
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Removed space in the folder name and used lower case in comments
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Removed repeated capability in config.py and hard coded niswitch dll linking.
  CMakeLists.txt
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/config.py
Owners: @SparkingSpork, @reckenro, @jonlugoatx

Merged latest changes from main and generated the files again.
  generated/niswitch/niswitch_library_wrapper.h
  generated/niswitch/niswitch_service.cpp
Owners: @reckenro, @jonlugoatx

Adding switch metadata and the generated files. (#52)
  CMakeLists.txt
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  imports/include/niswitch.h
  imports/include/niswitchTopologies.h
  imports/lib/win64/niswitch.lib
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/__init__.py
  source/codegen/metadata/niswitch/attributes.py
  source/codegen/metadata/niswitch/attributes_addon.py
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/niswitch/config_addon.py
  source/codegen/metadata/niswitch/enums.py
  source/codegen/metadata/niswitch/enums_addon.py
  source/codegen/metadata/niswitch/functions.py
  source/codegen/metadata/niswitch/functions_addon.py
Owners: @SparkingSpork, @reckenro, @jonlugoatx

Owners comments
  CMakeLists.txt
  source/server/device_enumerator.cpp
  source/server/device_enumerator_fake_library.cpp
  source/server/device_enumerator_fake_library.h
  source/server/device_enumerator_library.cpp
  source/server/device_enumerator_library.h
  source/server/device_enumerator_library_interface.h
  source/tests/unit/device_enumerator_mock_library.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/device_enumerator_mock_library.h
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

review suggestions by Jonathan
  CMakeLists.txt
  source/server/core_server.cpp
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_library_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
  source/tests/unit/syscfg_library_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

changing to syscfg_mock_library.h
  source/server/syscfg_library.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Updating syscfg lirbary to throw exception
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/syscfg_library_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Minor
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
Owners: @jonlugoatx

Throw LibraryLoadException if library not found
  source/server/device_enumerator.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Fixing build erros caused because of auto merge
  source/server/syscfg_library.cpp
  source/server/syscfg_library_interface.h
Owners: @jonlugoatx

Fixing build error
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Fix tabs on parser test
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Adding path length handling for exe path
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
Owners: @jonlugoatx

Works for basic struct types, does not work for python code
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/metadata/nifake/config.py
  source/codegen/metadata/nifake/custom_proto.mako
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/metadata/niscope/functions.py
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Fixing windows types
  source/server/server_configuration_parser.cpp
Owners: @jonlugoatx

Implement feedback to pass arguments in main.
  source/server/core_server.cpp
Owners: @jonlugoatx

implement test feedback
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Removed stale files
  apis/nifake/cutom_types/__init__.py
  apis/nifake/cutom_types/custom_struct.py
  source/codegen/service.h.mako
Owners: @jonlugoatx, @reckenro

[Owners] Throw exception when a certificate or key is specified but not present (#71)
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Modifications for build
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/metadata/niswitch/custom_proto.mako
Owners: @reckenro, @jonlugoatx

Assume certs folder is in same directory as config file
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
Owners: @jonlugoatx

Exclude 'ivi-dance' size parameters from grpc field generation.
  generated/nifake/nifake.proto
  generated/niscope/niscope.proto
  source/codegen/common_helpers.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx
