Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Clean up
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Clean up
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Using action
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Fix naming
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Fix naming
  source/server/syscfg_library.h
Owners: @jonlugoatx

Syscfg library tests
  source/tests/unit/syscfg_library_tests.cpp
Owners: @epetersoni, @kylesull30

Fixing name clash between macro and attribute.
  generated/nifake/nifake.proto
  generated/niscope/niscope.proto
  generated/niswitch/niswitch.proto
  source/codegen/proto.mako
  source/server/core_server.cpp
Owners: @reckenro, @jonlugoatx

Remove includes until they're used.
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
  source/custom/niswitch_service.custom.cpp
Owners: @jonlugoatx

Updating workflow file
  .github/workflows/build_cmake.yml
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

[Owners] Add file per driver to put custom implementations for service handlers. (#81)
  CMakeLists.txt
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
  source/custom/niswitch_service.custom.cpp
Owners: @SparkingSpork, @jonlugoatx

Fixing name of pull_request workflow trigger
  .github/workflows/build_cmake.yml
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

synchronized to synchronize
  .github/workflows/build_cmake.yml
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Early changes for passed-in
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Making artifact storage more specific
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Only tar build files if we plan to store the artifact
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Remove includes that aren't used.
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
  source/custom/niswitch_service.custom.cpp
Owners: @jonlugoatx

Updating workflow run frequency and artifact storage (#87)
  .github/workflows/build_cmake.yml
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Mark python-code methods in niscope as custom and have stubs in custom service.
  generated/niscope/niscope_service.cpp
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Fixing tar command formatting
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Owner feedback
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Updating tar to use yaml line-folding
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

moving namespace down
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Updating tar to use yaml line-folding (#88)
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

[Owners] Change default port to 31763 (#85)
  source/config/insecure_config.json
  source/config/mutual_tls.json
  source/config/server_side_tls.json
  source/server/server_security_configuration.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Update switch example port
  examples/niswitch/software-scanning.py
Owners: @jonlugoatx

[Owners] Adds support for structs where size is NOT python-code (#74)
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/common_helpers.py
  source/codegen/generate_service.py
  source/codegen/handler_helpers.py
  source/codegen/metadata/nifake/config.py
  source/codegen/metadata/nifake/custom_proto.mako
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata/niswitch/custom_proto.mako
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
  source/codegen/test_metadata_parsing.py
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Progress on niscope custom service handlers.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Fix build errors after merge.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Add back copy call for struct array output parameters.
  generated/nifake/nifake_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Cleanup some of the helpers to consolidate code.
  source/codegen/common_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

inital changes, before Ryan's changes merged in
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope_service.cpp
  source/codegen/metadata/nifake/functions.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Add metadata to Scope
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/config_addon.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Adding 2 more apis. Should fix tests yet
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Removing extra whitespace
  source/server/device_enumerator.cpp
Owners: @jonlugoatx

Renaming integration test to in_process_server_client_tests
  CMakeLists.txt
  source/tests/integration/in_process_server_client_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Address PR feedback
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Review comments to make sessoin_utilites_service_tests as integration tests
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Removing extra whitespace
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Reverting chnages to making it integration test. Also asserting error message
  CMakeLists.txt
  source/tests/integration/in_process_server_client_tests.cpp
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Added metadata for APIs missing in nimipython
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/functions.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx
