Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

Sync up scrapigen metadata for all RFmx personalities exception RFmxBT (#516)
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_client.cpp
  generated/nirfmxinstr/nirfmxinstr_client.h
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_client.cpp
  generated/nirfmxwlan/nirfmxwlan_client.h
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/codegen/metadata/nirfmxspecan/enums.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

resync after merge
  generated/nirfmxbt/nirfmxbt.proto
  generated/nirfmxbt/nirfmxbt_service.cpp
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxbt/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/functions.py
Owners: @reckenro, @astarche, @mgumble

Add validate_examples script for easy local testing of examples (#519)
  source/codegen/stage_client_files.py
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

use true/false enum for delete_record_on_false
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Sync up scrapigen metadata for RFmxBT (#518)
  generated/nirfmxbt/nirfmxbt.proto
  generated/nirfmxbt/nirfmxbt_client.cpp
  generated/nirfmxbt/nirfmxbt_client.h
  generated/nirfmxbt/nirfmxbt_service.cpp
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxbt/__init__.py
  source/codegen/metadata/nirfmxbt/enums.py
  source/codegen/metadata/nirfmxbt/enums_addon.py
  source/codegen/metadata/nirfmxbt/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxbt_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fixup intermod string
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxspecan/functions.py
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fixup ni_rfsa
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  source/codegen/metadata/nirfmxinstr/functions.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Create examples for WLAN (#517)
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Add tests for IQFetchData (#515)
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add support for setting code_readiness in server config file
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Fixup validate_examples to handle dependencies on nirfmxinstr
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

RFmxSpecAn API fixups (#520)
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fixup validate_examples to handle dependencies on nirfmxinstr (#522)
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Fix up test to use an NR waveform.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Got test passing.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix test to use reference waveform.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

ULModAcc test building and failing.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Test trying to set complex attribute.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update nirfmxwlan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Make numeric assertions less strict.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Implement NiRFmxBT test exercising complex numeric type with ModAccFetchConstellation.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Mixed up LT and GT ordering.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Name change and constant addition
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Mose's feedback.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add OutputTerminal enum to grpc-device for RFmxInstr
  generated/nirfmxbt/nirfmxbt.proto
  generated/nirfmxbt/nirfmxbt_client.cpp
  generated/nirfmxbt/nirfmxbt_client.h
  generated/nirfmxbt/nirfmxbt_service.cpp
  generated/nirfmxbt/nirfmxbt_service.h
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_client.cpp
  generated/nirfmxinstr/nirfmxinstr_client.h
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.h
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_client.cpp
  generated/nirfmxwlan/nirfmxwlan_client.h
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.h
  source/codegen/metadata/nirfmxbt/attributes.py
  source/codegen/metadata/nirfmxbt/enums.py
  source/codegen/metadata/nirfmxinstr/attributes.py
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxwlan/attributes.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Implement NiRFmxBT test exercising complex numeric type with ModAccFetchConstellation. (#524)
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add remaining Acceptance WLAN tests (#523)
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Reduce size of json file and fix test accordingly.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use constants for error codes and strings.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix up variable names.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix up data we're checking against.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add NR system tests using Complex data types. (#525)
  source/tests/assets/data/NR_FR2_UL_SISO_CC-1_BW-50MHz_SCS-120kHz.json
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Support next_release
  source/server/server_configuration_parser.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Remove unexecuted blocks.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add OutputTerminal enum to grpc-device for RFmxInstr (#526)
  generated/nirfmxbt/nirfmxbt.proto
  generated/nirfmxbt/nirfmxbt_client.cpp
  generated/nirfmxbt/nirfmxbt_client.h
  generated/nirfmxbt/nirfmxbt_service.cpp
  generated/nirfmxbt/nirfmxbt_service.h
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_client.cpp
  generated/nirfmxinstr/nirfmxinstr_client.h
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.h
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_client.cpp
  generated/nirfmxwlan/nirfmxwlan_client.h
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.h
  source/codegen/metadata/nirfmxbt/attributes.py
  source/codegen/metadata/nirfmxbt/enums.py
  source/codegen/metadata/nirfmxinstr/attributes.py
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxwlan/attributes.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Remove unexecuted blocks in NR system-level tests. (#527)
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add support for setting code_readiness in server config file (#521)
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Add black to requirements.txt
  python_build_requirements.txt
Owners: @astarche, @mgumble

Rename 'nirfmxbt' to 'nirfmxbluetooth'.
  CMakeLists.txt
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service_registrar.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service_registrar.h
  generated/register_all_services.cpp
  source/codegen/metadata/nirfmxbluetooth/__init__.py
  source/codegen/metadata/nirfmxbluetooth/attributes.py
  source/codegen/metadata/nirfmxbluetooth/attributes_addon.py
  source/codegen/metadata/nirfmxbluetooth/config.py
  source/codegen/metadata/nirfmxbluetooth/config_addon.py
  source/codegen/metadata/nirfmxbluetooth/enums.py
  source/codegen/metadata/nirfmxbluetooth/enums_addon.py
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/codegen/metadata/nirfmxbluetooth/functions_addon.py
  source/custom/nirfmxbluetooth_service.custom.cpp
  source/custom/nirfmxbt_service.custom.cpp
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxbluetooth_session_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Attempting to fix stragglers.
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service_registrar.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service_registrar.h
  generated/nirfmxbt/nirfmxbt.proto
  generated/nirfmxbt/nirfmxbt_client.cpp
  generated/nirfmxbt/nirfmxbt_client.h
  generated/nirfmxbt/nirfmxbt_library.cpp
  generated/nirfmxbt/nirfmxbt_library.h
  generated/nirfmxbt/nirfmxbt_library_interface.h
  generated/nirfmxbt/nirfmxbt_mock_library.h
  generated/nirfmxbt/nirfmxbt_service.cpp
  generated/nirfmxbt/nirfmxbt_service.h
  generated/nirfmxbt/nirfmxbt_service_registrar.cpp
  generated/nirfmxbt/nirfmxbt_service_registrar.h
  source/codegen/metadata/nirfmxbluetooth/config.py
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxbluetooth_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble
