Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Update then parts of test names to match givens.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Add oneofs to messages with enums (#115)
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/common_helpers.py
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

[Owners] Add some attribute and configuration system level tests for ni-scope. (#117)
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Removing blank line from the end
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Remove session service from scope session tests.
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

Caching sysCfg session
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/session_utilities_service.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Remove session service from scope session tests. (#119)
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

Add missing attributes (name correct).
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Get numbers, type, access, and channel-based right.
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Record enums in new attributes.
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Add lv_property to new attributes.
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Add documentation field for new attributes.
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Build niscope.proto with new attributes.
  generated/niscope/niscope.proto
Owners: @reckenro, @jonlugoatx

Re-order attributes in numerical order.
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Rebuild niscope.proto after attribute re-arranging.
  generated/niscope/niscope.proto
Owners: @reckenro, @jonlugoatx

Update TODO in test with updates.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Missed DIGITAL_OFFSET.
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

Update changes markdown with new attributes.
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Implement remaining readme
  README.md
Owners: @jonlugoatx

added string interpolation , changed variable and function names to snake_case
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

changed module names to snake_case , used parameter in print_devices() function
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

create filter tests
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

find_hardware_tests
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

next_resource tests
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Filtering vendor by NI or national instruments Removed local system
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Updating system tests
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Trying to improve diff
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Revert "Trying to improve diff"
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

REmovinf extra space
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Clang
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

clang
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Clang
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Clang
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

initial tests
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

solving build error
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

changed session_type to session_types
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Minor
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

minor change
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

System tests for NI-Switch
  CMakeLists.txt
  source/tests/system/niswitch_driver_api_tests.cpp
  source/tests/system/niswitch_session_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30
