Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Resovled build error
  generated/nixnet/nixnet_service.cpp
Owners: @reckenro, @astarche, @mgumble

[Owners Review] Added CAN example for XNET (#605)
  examples/nixnet/can-signal-single-point-output.py
  generated/nixnet/nixnet_service.cpp
Owners: @astarche, @mgumble, @reckenro

Add nxaddrinfo functions for xnet socket service. (#608)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

review feedback
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix casing for IpMreq
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add loopback system tests for xnet socket (#616)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update to use new messages for addrs
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add support for remaining IPStackRef functions
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/service_helpers.py
  source/custom/xnetsocket_aliases.h
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Updated sizing of addr
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

nilrt move semantic fixup
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Copy test INFO to std::vector to appease gcc 6
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix up read/write_frame, write_state, EptRxFilter
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
  source/tests/system/nixnet_flexray_driver_api_tests.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

Replace string_array property type with string for xnet (#622)
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

comments addressed
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Adding enums for ReadState and WriteState APIs
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Autogen XNET 3 ReadSignal APIs (#619)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Fix build error
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
Owners: @reckenro, @astarche, @mgumble

update frame input APIs to accept number of frames and payload size instead of buffer size
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

minor update
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
Owners: @reckenro, @astarche, @mgumble

Resolved comments
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Session condition changes
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Session Parameters name change
  examples/nixnet/can-signal-single-point-output.py
Owners: @astarche, @mgumble

Add new Optname Enum conversions (#621)
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

[Owners Review ]Added FlexRay and LIN examples for XNET (#613)
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Updated error to be handled as int
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Fix vlan name
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
Owners: @reckenro, @astarche, @mgumble

Use GetNameInfoFlags in GetNameInfoRequest.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Add AddrInfoOutputConverter test.
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Expect FreeAddrInfo to be called in conversion test.
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

address review comments
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Update XNET Frame input APIs to remove buffer size parameters (#625)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Incorporate local review comments
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Add enum support for frame APIs
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

enum correction
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

changed reference names of session, database etc
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Implemented Ethernet Frame Stream Input XNET example
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

Import statements order
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

name changes in xnet examples
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

minor
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

minor
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble
