Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

resolving review comments, inlining other methods from utilities
  source/tests/system/nixnet_can_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

buffer clearing bug and associated can tests (#645)
  CMakeLists.txt
  source/custom/nixnet_converters.h
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

correct spelling mistake
  source/tests/system/nixnet_can_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

correct spelling mistake (#649)
  source/tests/system/nixnet_can_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Set code_readiness to Release for xnet and socket services
  generated/nixnet/nixnet_service.cpp
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnetsocket/config.py
Owners: @reckenro, @astarche, @mgumble

Added CommResponse Unit tests for interfaces
  CMakeLists.txt
  source/tests/unit/xnet_converters_tests.cpp
  source/tests/unit/xnet_socket_converters_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Set code_readiness to Release for xnet and socket services (#650)
  generated/nixnet/nixnet_service.cpp
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnetsocket/config.py
Owners: @reckenro, @astarche, @mgumble

fix failing test, add skip_test for lin tests with hardware
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

update expected interface name
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

fix failing loopback tests
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

add mulitple reads instead of fixed sleep for read signal test
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update LICENSE to 2022
  LICENSE
Owners: @astarche, @mgumble

Fix failing XNET tests and add GTEST_SKIP for tests with hardware requirements (#652)
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Resolved comments, modified tests and reordered cmakefiles list
  CMakeLists.txt
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Added CommResponse Unit tests for interfaces (#651)
  CMakeLists.txt
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
  source/tests/unit/xnet_converters_tests.cpp
  source/tests/unit/xnet_socket_converters_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Ethernet system test - loopback
  CMakeLists.txt
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Update LICENSE to 2022 (#653)
  LICENSE
Owners: @astarche, @mgumble

Formatted test file
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Added Unit tests for Frame Conversions to Grpc
  source/custom/nixnet_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Added unit tests for frame conversions to grpc frame responses
  source/custom/nixnet_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Resolved build error
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update README.md
  README.md
Owners: @astarche, @mgumble

Added helper functions to nixnet_utilties
  source/custom/nixnet_converters.h
  source/tests/system/nixnet_utilities.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Fixed payload size issue
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Added unit tests for frame conversions to grpc frame responses (#656)
  source/tests/system/nixnet_utilities.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Merge with main
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update README to include XNET version (#657)
  README.md
Owners: @astarche, @mgumble

Used get_frame_buffer_size
  source/custom/nixnet_converters.h
Owners: @astarche, @mgumble

Fix unit test
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fixed payload size issue (#659)
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Incorporate review comments
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add system test for XNET - Ethernet (#654)
  CMakeLists.txt
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

CMakeLists: use find_package for gtest dep
  CMakeLists.txt
Owners: @SparkingSpork, @astarche, @mgumble

Clean up enums.py.
  generated/nifake/nifake.proto
  source/codegen/metadata/nidcpower/enums.py
  source/codegen/metadata/nifake/enums.py
  source/codegen/metadata/nifgen/enums.py
  source/codegen/metadata/niscope/enums.py
  source/codegen/metadata/niswitch/enums.py
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Add enum validation with warnings.
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Clean up warning messaging.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Remove unreferenced enums from ni-fake.
  source/codegen/metadata/nifake/enums.py
Owners: @reckenro, @astarche, @mgumble

Move import warnings to the top.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Move warnings to group with typing.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Import warnings before from typing.
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble
