Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Generate handler body for ivi-dance methods.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Start generating the ivi-dance service handlers.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
Owners: @reckenro, @jonlugoatx

Resolve merge conflict
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Get the build working for NiSwitch.
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

[Owners] Fix intermittent synchronization tests (#65)
  source/server/session_repository.cpp
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

[Owners] Handling server executable path length when getting configuration file (#75)
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
Owners: @jonlugoatx

Implement feedback
  source/server/core_server.cpp
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Add extra line break
  source/server/core_server.cpp
Owners: @jonlugoatx

Add tests using file path overload
  CMakeLists.txt
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/assets/certs/test_client_self_signed_crt.pem
  source/tests/assets/certs/test_server_privatekey.pem
  source/tests/assets/certs/test_server_self_signed_crt.pem
  source/tests/assets/test_mutual_tls_config.json
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/utilities/run_all_tests_with_args.cpp
  source/tests/utilities/test_environment.h
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

clang-format
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/utilities/run_all_tests_with_args.cpp
  source/tests/utilities/test_environment.h
Owners: @epetersoni, @kylesull30

Owners comments
  source/server/device_enumerator.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Changing FindHardware to InitializeSession
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
Owners: @jonlugoatx

Update generated files after merge
  generated/niscope/niscope_service.cpp
Owners: @reckenro, @jonlugoatx

Hard code app name in usage message
  source/server/core_server.cpp
Owners: @jonlugoatx

[Owners] Implement command line parsing of configuration file path (#73)
  source/server/core_server.cpp
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Rename locals
  source/server/server_configuration_parser.cpp
Owners: @jonlugoatx

More type conversions to std c++ types
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Adding bigobj flag for nifake unit tests
  CMakeLists.txt
Owners: @SparkingSpork

Add usage instructions to test main
  source/server/server_configuration_parser.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/utilities/run_all_tests_with_args.cpp
  source/tests/utilities/test_environment.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Update usage message
  source/tests/utilities/run_all_tests_with_args.cpp
Owners: @epetersoni, @kylesull30

Implement unit tests for newly supported ni-fake methods.
  generated/nifake/nifake_service.cpp
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Rename global
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/utilities/run_all_tests_with_args.cpp
  source/tests/utilities/test_environment.h
Owners: @epetersoni, @kylesull30

Change test name
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30

Fix up how strings are treated to make sure null terminating character is present.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Renaming library_wrapper to library in new tests
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Cleanup how array outputs are reserved and passed to API.
  generated/nifake/nifake_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Update service.cpp.mako
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Revert "Update service.cpp.mako"
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Linking lib and added intiailize and close
  CMakeLists.txt
  imports/lib/win64/nisyscfg.lib
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
Owners: @SparkingSpork, @jonlugoatx

Modifying error message
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Remove check on session being NULL
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Delay load on windows
  CMakeLists.txt
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/tests/integration/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Adding function pointers
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
Owners: @jonlugoatx

Minor
  source/server/device_enumerator.cpp
  source/tests/integration/session_utilities_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Minor
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Adding device_enumerator_tests
  CMakeLists.txt
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Minor
  source/server/syscfg_library.h
Owners: @jonlugoatx

Added syscfg_library_tests
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/syscfg_library_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

minor
  source/tests/unit/syscfg_library_tests.cpp
Owners: @epetersoni, @kylesull30

Making error string as static const char*
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/tests/unit/syscfg_library_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30
