Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

Removed RECORD_ARM_SOURCE attribute.
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/attributes.py
Owners: @reckenro, @jonlugoatx

[Owners] Add missing ni scope attributes to attributes.py. (#121)
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/attributes.py
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Comments
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/tests/system/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Minor
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Rmeoving vendor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Implement peer feedback
  README.md
Owners: @jonlugoatx

Add feedback on LinuxRT
  README.md
Owners: @jonlugoatx

Introduce a fetch example for ni-scope.
  examples/niscope/fetch.py
Owners: @jonlugoatx

Create a fetch forever example for ni scope.
  examples/niscope/fetch-forever.py
Owners: @jonlugoatx

Rename variables in both examples
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Remove the real hardware comment.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Last minor cleanups.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

The names got messed up in the comment for niscope.proto.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Add grpc error handling and fix indentations.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Implement feedback from Jeff and fix typo
  README.md
Owners: @jonlugoatx

Revisiting example after many changes were made to the proto file.
  examples/niswitch/software-scanning.py
Owners: @jonlugoatx

comments
  source/server/device_enumerator.cpp
Owners: @jonlugoatx

comments
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Comments
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Comments
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] [Device Enumeration] Filtering devices for which vendor is NI or National Instruments and removing local system (#126)
  source/server/device_enumerator.cpp
  source/tests/system/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

[Owners] [Tiny] Adding unit tests for CreateFilter API used by Device Enumeration (#123)
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

ADding get property tests
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Clang
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Updating after merge
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Solving build error
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Comments
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Changing camel case to snake case
  examples/niswitch/software-scanning.py
Owners: @jonlugoatx

Added tests for get attribute (real64 and string)
  source/tests/system/niswitch_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

meaningfull error message shown when server address in this example does not match server machine's address
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

IP Address and port number passed as command line arguments
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

System test for Relay control and wait for debounce.
  source/tests/system/niswitch_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

changed stub name to client
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Fixed failed test and comments
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/nisyscfg.h
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

National Instruments -> National Instruments Corp
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Use snake case for variables.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30
