Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

Update 2 of CHANGES.md
  source/metadata/niswitch/CHANGES.md
Owners: @jonlugoatx

Review NISysCfgSession caching
  source/core_server/hardware/grpc/core_service.cpp
  source/core_server/hardware/grpc/internal/device_management.cpp
  source/core_server/hardware/grpc/internal/device_management.h
Owners: @epetersoni, @kylesull30, @jonlugoatx

Review NISysCfgSession caching changes
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Removing earlier code
  source/core_server/hardware/grpc/internal/session_repository.cpp
  source/core_server/hardware/grpc/internal/session_repository.h
Owners: @epetersoni, @kylesull30, @jonlugoatx

Changes to clear_sysconfig_session
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Closed resource_handle after 1st loop
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

closed resource_handle after 1st loop
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Fix Generated namespace
  generated/nifake/nifake_mock_library_wrapper.h
  source/codegen/mock_library_wrapper.h.mako
Owners: @reckenro, @jonlugoatx

Remove deep namespaces
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Aligning with Jonathan's LibraryLoadException approach
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
  source/core_server/hardware/grpc/internal/shared_library.cpp
  source/core_server/hardware/grpc/internal/shared_library.h
  source/tests/unit/fake/grpc/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Users/kreimnit/split tests (#58)
  CMakeLists.txt
  generated/nifake/nifake_mock_library_wrapper.h
  source/codegen/mock_library_wrapper.h.mako
  source/tests/integration/core_service_tests.cpp
  source/tests/system/stub_test.cpp
  source/tests/unit/core_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/unit/session_repository_tests.cpp
  source/tests/unit/shared_library_tests.cpp
  source/tests/utilities/test_api.cpp
  source/tests/utilities/test_api.h
Owners: @SparkingSpork, @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Cache Design for sysCfgSession
  source/core_server/hardware/grpc/core_service.cpp
  source/core_server/hardware/grpc/internal/device_enumerator.cpp
  source/core_server/hardware/grpc/internal/device_enumerator.h
Owners: @epetersoni, @kylesull30, @jonlugoatx

Custom make files included
  generated/nifake/nifake.proto
  generated/nifake/nifake_library_wrapper.h
  generated/nifake/nifake_mock_library_wrapper.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/generate_service.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.h.mako
  source/metadata/nifake/custom_header.mako
  source/metadata/nifake/custom_proto.mako
  source/metadata/nifake/functions.py
  source/metadata/niscope/custom_header.mako
  source/metadata/niscope/custom_proto.mako
Owners: @reckenro, @jonlugoatx

Fixing up tests to use session repo
  source/tests/unit/fake/grpc/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Regenerating niscope_mock_library.h after merge
  generated/niscope/niscope_mock_library.h
Owners: @reckenro, @jonlugoatx

Kyle's feedback
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Reworking session repo logic in tests
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Adding Initial NIFake Service Unit Tests with Mocks (#54)
  CMakeLists.txt
  generated/nifake/nifake_library_wrapper.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_library_wrapper.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  source/codegen/generate_service.py
  source/codegen/library_wrapper.h.mako
  source/codegen/mock_library.h.mako
  source/codegen/service.cpp.mako
  source/core_server/hardware/grpc/internal/shared_library.h
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @SparkingSpork, @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Handle fixed array parameters.
  generated/nifake/nifake_library_wrapper.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_library_wrapper.h
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Support arrays using len mechanism for size.
  generated/nifake/nifake.proto
  generated/nifake/nifake_library_wrapper.h
  generated/nifake/nifake_mock_library.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_library_wrapper.h
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
  source/metadata/nifake/functions.py
  source/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Cleanup from merge.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Reorder lines in files to make merge easier.
  CMakeLists.txt
  generated/niscope/niscope_mock_library.h
  source/codegen/generate_service.py
  source/codegen/mock_library.h.mako
Owners: @SparkingSpork, @reckenro, @jonlugoatx

[Owners] Implement production library wrapper with delay-loading on Windows (#56)
  CMakeLists.txt
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  imports/lib/win64/ivi.lib
  imports/lib/win64/niScope.lib
  source/codegen/generate_service.py
  source/codegen/handler_helpers.py
  source/codegen/library.cpp.mako
  source/codegen/library.h.mako
  source/codegen/library_interface.h.mako
  source/codegen/mock_library.h.mako
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
  source/core_server/core_server.cpp
  source/core_server/hardware/grpc/internal/shared_library.cpp
  source/core_server/hardware/grpc/internal/shared_library.h
  source/metadata/niscope/CHANGES.md
  source/metadata/niscope/functions.py
Owners: @SparkingSpork, @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Moved example config files into source/config
  source/config/insecure_config.json
  source/config/mutual_tls.json
  source/config/server_side_tls.json
Owners: @jonlugoatx

Implement remaining feedback
  CMakeLists.txt
  source/core_server/core_server.cpp
  source/core_server/hardware/grpc/internal/server_configuration_parser.cpp
  source/core_server/hardware/grpc/internal/server_configuration_parser.h
  source/core_server/hardware/grpc/internal/server_security_configuration.cpp
  source/core_server/hardware/grpc/internal/server_security_configuration.h
  source/tests/assets/test_client_self_signed_crt.pem
  source/tests/assets/test_server_privatekey.pem
  source/tests/assets/test_server_self_signed_crt.pem
  source/tests/unit/server_security_configuration_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30, @jonlugoatx

Clang format
  source/core_server/core_server.cpp
  source/tests/unit/server_security_configuration_tests.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Remove whitespace
  CMakeLists.txt
Owners: @SparkingSpork

Fix clang-format for ternary operators
  .clang-format
  source/core_server/core_server.cpp
  source/core_server/hardware/grpc/internal/server_security_configuration.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Pull out clang-format change
  .clang-format
  source/core_server/core_server.cpp
  source/core_server/hardware/grpc/internal/server_security_configuration.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

fix linux build
  source/core_server/hardware/grpc/internal/server_security_configuration.h
Owners: @epetersoni, @kylesull30, @jonlugoatx

Removed the 2nd loop which called find_hardware api and instead added a short logic to set the parent-field. Also used unordered_map instead of map
  source/core_server/hardware/grpc/internal/device_management.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Fixed re-definition
  source/core_server/hardware/grpc/internal/device_enumerator.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Test and fixes
  source/core_server/hardware/grpc/internal/device_enumerator.h
  source/tests/unit/hardware/grpc/internal/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Cleaned up functions.py and added missing functions list in CHNAGES.md
  source/metadata/niswitch/CHANGES.md
  source/metadata/niswitch/functions.py
Owners: @jonlugoatx

Update device_enumerator_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Fixing device_enumerator_tests
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Start adding NiFakeService unit tests for newly supported methods.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Implement feedback to target post-build step to unit test binary.
  CMakeLists.txt
Owners: @SparkingSpork

Merged latest changes and regenerated the files.
  CMakeLists.txt
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/metadata/niswitch/config.py
  source/metadata/niswitch/functions.py
Owners: @SparkingSpork, @reckenro, @jonlugoatx

Making changes to CMake to generate niswitch files.
  CMakeLists.txt
Owners: @SparkingSpork

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30
