Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Add conversion cases
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

added documentation for all custom generated xnet APIs
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Introduce len-in-bytes size mechanism for XNET APIs that require size in number of bytes (#614)
  generated/nixnet/nixnet_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

Updated comment
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Removed getch dependency and resolved comments
  examples/nixnet/can-signal-single-point-output.py
Owners: @astarche, @mgumble

Tested LIN and updated names
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

added signal APIs
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nifake/nifake_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/codegen/service_helpers.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

[minor] Codegen proto message for DbGetDatabaseList instead of custom_proto (#618)
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Change `from` parameter name which is a reserved keywords in python
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

generated files after merging from main
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
Owners: @reckenro, @astarche, @mgumble

Add example-based XNET tests
  CMakeLists.txt
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_common_driver_api_tests.cpp
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
  source/tests/system/nixnet_flexray_driver_api_tests.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Change back to strncpy, strcpy_s not in glibc C++14
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add GetAddrInfo.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Simplify leaving addr_info fileds alone for hint.
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

I think I can use nullptr over NULL.
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Update comment.
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Simplify to_grpc loop for AddrInfo
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Add tests for new converter cases
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fixups post rebase and regen.
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Use library for FreeAddrInfo.
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Force include GetAddrInfoFlags enum.
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Consolidate sock addr to grpc SockAddr conversion code.
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Add GetNameInfo.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Clean up Common tests
  source/tests/system/nixnet_common_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Move xnet utility functions to shared file; don't #include nixnet.h
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_common_driver_api_tests.cpp
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
  source/tests/system/nixnet_flexray_driver_api_tests.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
  source/tests/system/nixnet_utilities.h
Owners: @reckenro, @astarche, @mgumble

Enable use of get/set_property in all xnet tests
  source/tests/system/nixnet_can_driver_api_tests.cpp
  source/tests/system/nixnet_common_driver_api_tests.cpp
  source/tests/system/nixnet_ethernet_driver_api_tests.cpp
  source/tests/system/nixnet_flexray_driver_api_tests.cpp
  source/tests/system/nixnet_lin_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add support for struct property in get/set property APIs for XNET (#615)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Auto generate remaining Frame APIs for XNET (#617)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

[minor] Rename `from` in xnet API since it is reserved keyword in python (#620)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Replace string_array property type with string for xnet
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Delete PortExamplesC-Python
  PortExamplesC-Python
Owners: @astarche, @mgumble

Updated comment for documentation
  examples/nixnet/can-signal-single-point-output.py
Owners: @astarche, @mgumble

final changes
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nifake/nifake_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

sizeof(u8) from some other change, will resolve it after merging latest main later
  generated/nixnet/nixnet_service.cpp
Owners: @reckenro, @astarche, @mgumble

fixing python code using black
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

Resolved comments
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Changed type of time_stamp buffer
  examples/nixnet/flexray-signal-single-point-input.py
Owners: @astarche, @mgumble

Removed buffer variable declaration
  examples/nixnet/flexray-signal-single-point-input.py
Owners: @astarche, @mgumble

convert_to_grpc in ReadSignalWaveform
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Pulled latest changes from main and resolved build error
  generated/nixnet/nixnet_service.cpp
Owners: @reckenro, @astarche, @mgumble
