Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Add spaces around : for waveform array.
  examples/niscope/fetch-forever.py
Owners: @jonlugoatx

Use error_message directly in print statement.
  examples/niscope/fetch-forever.py
Owners: @jonlugoatx

Delete nisyscfg.h
  source/server/nisyscfg.h
Owners: @jonlugoatx

Update other error_message to be used directly in print statement.
  examples/niscope/fetch.py
Owners: @jonlugoatx

Adding test to session_utilities_service_tests.cpp
  source/server/nisyscfg.h
  source/tests/system/session_utilities_service_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Handle passing in IP address and port number.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

changes to device_enumerator
  source/server/device_enumerator.cpp
Owners: @jonlugoatx

Delete niscope_driver_api_tests.cpp
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Communcation -> Communication
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Add tidbit in getting started comment about downloading NI-SCOPE driver.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Port python examples
  examples/niscope/better-python/EX_niScope_Measurement_Library.py
  examples/niscope/better-python/niScope_Measurement_Library.py
  examples/niscope/better-python/scopeRead.py
  examples/niscope/python/EX_niScope_Measurement_Library.py
  examples/niscope/python/niScope_Measurement_Library.py
  examples/niscope/python/niscope.proto
  examples/niscope/python/scopeRead.py
Owners: @jonlugoatx

Remove proto from examples
  examples/niscope/python/niscope.proto
Owners: @jonlugoatx

Add session-reservation example.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Add args method for setting ip and port
  examples/niscope/better-python/niScope_Measurement_Library.py
  examples/niscope/better-python/scopeRead.py
  examples/niscope/python/niScope_Measurement_Library.py
  examples/niscope/python/scopeRead.py
Owners: @jonlugoatx

Add extra check after unreserve to make sure it's no longer reserved.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Fix client id in is_reserved request.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Add oneof input handling for custom functions
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Update comment to reference correct file.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Add a tidbit that the reservation API should work with any driver.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Comments fixed and all tests passed.
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/session_utilities_service.cpp
  source/tests/system/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Add note about where the python commands are assumed to be executed from.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Add comment about reservation ID.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Don't have an extra variable for is_server_reset.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Reset server at beginning of example to start fresh.
  examples/session/session-reservation.py
Owners: @jonlugoatx

All Scope, NI Scope, and NiScope in comments should be NI-SCOPE.
  examples/session/session-reservation.py
Owners: @jonlugoatx

Add clarity on where the protoc commands are run from and how to update them.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Update all scope in comments to be NI-SCOPE.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx

Updated protoc comment to reference niscope folder, not session folder.
  examples/niscope/fetch-forever.py
  examples/niscope/fetch.py
Owners: @jonlugoatx
