Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

Running clang format
  source/tests/utilities/syscfg_mock_library.h
Owners: @epetersoni, @kylesull30

Updating namespaces
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Running clang
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

[Owners] Using library wrapper and delay loading for initialize and close APIs of device enumeration (#66)
  CMakeLists.txt
  source/protobuf/session.proto
  source/server/core_server.cpp
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/session_repository.h
  source/server/shared_library.h
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niscope_session_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/unit/server_security_configuration_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
  source/tests/unit/shared_library_tests.cpp
  source/tests/unit/syscfg_library_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Updating namespaces
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Core logic for device enumeration API (#96)
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

[Owners] Custom implement remaining ni-scope service handlers. (#110)
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/functions.py
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Add tests for FetchBinary methods
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Add test for FetchArrayMeasurement.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Add a test for niScope_Read.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

First test in progress.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Use expect_api_success for all response.status checks.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Remove lonely semicolon.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

new name suggested by Jonathan
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests_endtoend.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

[Owners] [Tiny] [Refactoring] Renaming session_utilities_service_tests to session_utilities_service_tests_endtoend in integration folder (#114)
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests_endtoend.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Rebuild generated folder after merge.
  generated/niscope/niscope.proto
Owners: @reckenro, @jonlugoatx

Use oneof_case on inputs of oneof enum or raw value.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/common_helpers.py
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
Owners: @reckenro, @jonlugoatx

Replace common_helpers method with call to upper().
  source/codegen/common_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Refactor argument naming and using common_helpers method.
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Make both enum switch statements match.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Only set raw when output enum not in map.
  generated/nifake/nifake_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Remove include <thread> not used.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Use enum suffix instead of oneof.
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Make logging the error message more straightforward.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] Add some System level tests for ni-scope acquisition and measurement functions. (#116)
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Jonathan cmments
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Clang
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners] [Tiny] [Refactoring] Moving session_utilities_service_tests from unit to Integration tests (#113)
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

[Owners] Adding system tests for Device enumeration (#106)
  CMakeLists.txt
  source/tests/system/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

modified comments , removed licensing , added exception handling
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Add set and get attribute tests for niscope.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Add a few configuration niscope tests.
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Update README to reflect repo rename.
  README.md
Owners: @jonlugoatx

Update nilrt build workflow with new cache key.
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Try to fix github repo environment variable name.
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Third time's the charm.
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Think I finally got the context name right.
  .github/workflows/build_nilrt.yml
Owners: @SparkingSpork

Use actual api response for setting enum raw output.
  generated/nifake/nifake_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Use omap_it instead of imap_it for output map iterators.
  generated/nifake/nifake_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

[Owners] Update README to reflect repo rename. (#118)
  .github/workflows/build_nilrt.yml
  README.md
Owners: @SparkingSpork, @jonlugoatx

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30
