Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Updated readframe api to latest changes
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

Added implementation for using EnetFlags and FrameFlags enums
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Write system level tests for GetAddrInfo.
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Conditional include for linux so htons compiles.
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

asphabetize enums and functions
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Add support for remaining IPStackRef functions (#623)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/service_helpers.py
  source/custom/xnetsocket_aliases.h
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Support repeated enum and raw field for AddrInfo and AddrInfoHint.
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Regen
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
Owners: @reckenro, @astarche, @mgumble

Fix order
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Check IsValid on flag before adding to repeated enum field.
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Add nxstrerr_r to xnet socket service
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/generate_service.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Resolved comments and renamed variables/comments
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

Removed additional enum changes and used force include
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/enums.py
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
Owners: @reckenro, @astarche, @mgumble

Shortened comment docstring
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

Using pass by value
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Dummy commit
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Dummy change 2
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Updated to print timestamp correctly
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

Adding enums for ReadState and WriteState APIs (#624)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

build again after merging
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/enums.py
Owners: @reckenro, @astarche, @mgumble

Incorporate review comments
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/custom_proto.mako
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

dummy change
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

dummy change
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

revert old changes
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
Owners: @reckenro, @astarche, @mgumble

XNET-Changing names of some enum values and modifying ref names of session and db (#627)
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble, @reckenro

alphabetize enums and functions (#630)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Regen.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
Owners: @reckenro, @astarche, @mgumble

Pass library into sock opt output converter
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Adding enums for Frame APIs (#626)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Set string sock opt length
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Add more sytem tests for xnet socket API
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix arg order for new EXPECT.
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add consts for setting / asserting.
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Pull out helper for Addr Info asserts.
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Template args for bit_or.
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add tests for AddrInfo related methods. (#629)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Renamed parameters and resolved comments
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

build error
  examples/nixnet/ethernet-frame-stream-input-reader.py
Owners: @astarche, @mgumble

Removed Additional space
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

[Owners review] Implemented Ethernet Frame Stream Input XNET example (#628)
  examples/nixnet/can-signal-single-point-output.py
  examples/nixnet/ethernet-frame-stream-input-reader.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble
