Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

PR feedback
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  source/codegen/metadata/nixnetsocket/__init__.py
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/enums_addon.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Represent bool SockOpts as ints to API.
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Handle Linger SockOpt.
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Regen post rebase.
  generated/nixnetsocket/nixnetsocket.proto
Owners: @reckenro, @astarche, @mgumble

Fix indentation
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Updated FlexRay and LIN
  examples/nixnet/CAN_SIGNAL_SINGLE_POINT_OUTPUT.py
  examples/nixnet/Ethernet_Frame_Stream_Input_Reader.py
  examples/nixnet/FlexRay_Signal_Single_Point_Input.py
  examples/nixnet/LIN_Signal_Single_Point_Output.py
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
  examples/nixnet/nixnet.proto
  examples/nixnet/nixnet_pb2.py
  examples/nixnet/nixnet_pb2_grpc.py
  examples/nixnet/session.proto
  examples/nixnet/session_pb2.py
  examples/nixnet/session_pb2_grpc.py
Owners: @astarche, @mgumble

Removed functions.py changes
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Removed the changes
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Removed nixnet_service change
  generated/nixnet/nixnet_service.cpp
Owners: @reckenro, @astarche, @mgumble

Added FlexRay and LIN examples for XNET
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Updated typo errors
  examples/nixnet/can-signal-single-point-output.py
Owners: @astarche, @mgumble

Adding grpc support for ReadState and WriteState XNET APIs (#593)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Renamed variables
  examples/nixnet/flexray-signal-single-point-input.py
  examples/nixnet/lin-signal-single-point-output.py
Owners: @astarche, @mgumble

Renamed variables
  examples/nixnet/flexray-signal-single-point-input.py
Owners: @astarche, @mgumble

Resolved comments
  examples/nixnet/can-signal-single-point-output.py
Owners: @astarche, @mgumble

Update nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket.proto
Owners: @reckenro, @astarche, @mgumble

added len-in-bytes size mechanism
  generated/nixnet/nixnet_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

removed additional unused prefix
  source/codegen/metadata/nixnetsocket/enums.py
Owners: @reckenro, @astarche, @mgumble

Add Enums for nxSocket (#610)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/__init__.py
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/enums_addon.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add system test for xnet socket
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

set property support
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Address review comments
  generated/nixnet/nixnet_service.cpp
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

read frame support
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Updated changes
  PortExamplesC-Python
Owners: @astarche, @mgumble

Support for frame input/output APIs in XNET (#609)
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/library.cpp.mako
  source/codegen/templates/service_helpers.mako
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

client files consistency with service files after sanitization
  generated/nidcpower/nidcpower_client.cpp
  generated/nidcpower/nidcpower_client.h
  generated/nidigitalpattern/nidigitalpattern_client.cpp
  generated/nidigitalpattern/nidigitalpattern_client.h
  generated/nidmm/nidmm_client.cpp
  generated/nidmm/nidmm_client.h
  generated/nifgen/nifgen_client.cpp
  generated/nifgen/nifgen_client.h
  generated/nirfsa/nirfsa_client.cpp
  generated/nirfsa/nirfsa_client.h
  generated/nirfsg/nirfsg_client.cpp
  generated/nirfsg/nirfsg_client.h
  generated/niscope/niscope_client.cpp
  generated/niscope/niscope_client.h
  generated/niswitch/niswitch_client.cpp
  generated/niswitch/niswitch_client.h
  generated/nisync/nisync_client.cpp
  generated/nisync/nisync_client.h
  generated/nitclk/nitclk_client.cpp
  generated/nitclk/nitclk_client.h
  source/codegen/client_helpers.py
Owners: @reckenro, @astarche, @mgumble

used customcode for DbGetDBCAttribute
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

minor
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

XNET StatusToString, DbGetDBCAttributeSize, DbGetDBCAttribute API and interface name sanitization support (#606)
  generated/nidcpower/nidcpower_client.cpp
  generated/nidcpower/nidcpower_client.h
  generated/nidigitalpattern/nidigitalpattern_client.cpp
  generated/nidigitalpattern/nidigitalpattern_client.h
  generated/nidmm/nidmm_client.cpp
  generated/nidmm/nidmm_client.h
  generated/nifgen/nifgen_client.cpp
  generated/nifgen/nifgen_client.h
  generated/nirfsa/nirfsa_client.cpp
  generated/nirfsa/nirfsa_client.h
  generated/nirfsg/nirfsg_client.cpp
  generated/nirfsg/nirfsg_client.h
  generated/niscope/niscope_client.cpp
  generated/niscope/niscope_client.h
  generated/niswitch/niswitch_client.cpp
  generated/niswitch/niswitch_client.h
  generated/nisync/nisync_client.cpp
  generated/nisync/nisync_client.h
  generated/nitclk/nitclk_client.cpp
  generated/nitclk/nitclk_client.h
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/service_helpers.py
  source/codegen/templates/client_helpers.mako
  source/codegen/templates/service_helpers.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

add property types for some property ids
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
Owners: @reckenro, @astarche, @mgumble

fix mixing convert_to_grpc error during build
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Fix merge issue
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

Add unit tests
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

fix test names
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

remaining frame APIs
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

minor indentation changes
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Fix boolean SockOpts for Get/SetSockOpt. (#611)
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

fixup getpeername
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

codegen proto message for DbGetDatabaseList instead of custom_proto
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Add IPMReq messages
  generated/nixnetsocket/nixnetsocket.proto
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble
