Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Minor
  source/server/syscfg_library.h
Owners: @jonlugoatx

self review
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
Owners: @jonlugoatx

Minor
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

Minor
  source/server/syscfg_library_interface.h
Owners: @jonlugoatx

Introduce cancellation logic at the beginning of every service handler. (#95)
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

[Owners] Add metadata to Scope (#90)
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/config_addon.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Peer feedback
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  source/codegen/metadata/nifake/functions.py
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

added comment
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners]Added metadata for APIs that were missing for NI-SWITCH (#91)
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/functions.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Rebuild to gen services after merge.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
Owners: @reckenro, @jonlugoatx

Build again after merge to pull in recent ni-switch changes.
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
Owners: @reckenro, @jonlugoatx

Added changes & deleted old readme
  source/codegen/README_MetadataChanges.md
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Change custom -> CustomCode and python-code -> custom-code.
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata/niscope/functions_addon.py
  source/custom/nifake_service.custom.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Add changes from function.py
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Don't update num_samples that comes in from request.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Address feedback for niscope custom service.
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/functions.py
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Add TODO comment about updating Fetch later.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Rename gen_proto_field to include_in_proto.
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/proto_helpers.py
Owners: @reckenro, @jonlugoatx

Don't have CustomCode methods in ni-fake.
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.h
  source/codegen/metadata/nifake/functions.py
  source/custom/nifake_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Add methods in functions_addon.py that were removed.
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Adding close tests and errormessage test
  source/tests/system/niscope_session_tests.cpp
Owners: @epetersoni, @kylesull30

Removing stub_test
  CMakeLists.txt
  source/tests/system/stub_test.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

merged with master & fixed bad indentation
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Rework reinterpret_cast.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

[Owners] Handle Passed-in for array types Tests (#93)
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

[owners] Added changes & deleted old readme (#97)
  source/codegen/README_MetadataChanges.md
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Rebuild generated folder after merge.
  generated/niscope/niscope_service.cpp
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

[Owners] Support methods using the python-code mechanism for array sizes. (#94)
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  generated/niswitch/niswitch_service.h
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/codegen/metadata/niscope/functions_addon.py
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
  source/custom/niscope_service.custom.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Update metadata
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Revert change broken in merge
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Update documentation and fix metadata mistakes
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Allow c method names to be different from grpc method names
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_mock_library.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/handler_helpers.py
  source/codegen/library.cpp.mako
  source/codegen/metadata/niscope/config.py
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Comments on parent PR
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Comments
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Removing space
  source/server/syscfg_library.h
Owners: @jonlugoatx

Minor
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Solving build error
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Using constants for string literals
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
Owners: @jonlugoatx

[Owners] Implementing Initialize and Close session using delay loading of nisysfg.dll (#80)
  CMakeLists.txt
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

list devices
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx
