Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @kylesull30, @reckenro

Implement feedback from Zofia
  README.md
Owners: @kylesull30, @jonlugoatx

changed directory name to session
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

changed directory name to session
  examples/device_enumerator/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

[Owners] Enumerate device example using python (#108)
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

Passing the ip address and port number via the command line is now enabled.
  examples/niswitch/software-scanning.py
Owners: @kylesull30, @jonlugoatx

[Owners] [Tiny] Adding unit tests for GetResourceProperty API used by Device Enumeration (#130)
  source/tests/unit/device_enumerator_tests.cpp
Owners: @reckenro, @jonlugoatx

Formatting
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

new lines
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

more spaces
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

spellign mistake
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

[Owners] [Tiny] Adding unit tests for FindHardware API used by Device Enumeration (#124)
  source/tests/unit/device_enumerator_tests.cpp
Owners: @reckenro, @jonlugoatx

Minor
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

Minor
  examples/session/EnumerateDevice.py
  examples/session/session_pb2.py
  examples/session/session_pb2_grpc.py
Owners: @kylesull30, @jonlugoatx

Revert "Minor"
  examples/session/EnumerateDevice.py
  examples/session/session_pb2.py
  examples/session/session_pb2_grpc.py
Owners: @kylesull30, @jonlugoatx

minor
  examples/session/EnumerateDevice.py
Owners: @kylesull30, @jonlugoatx

GetSysCfgSession implementation returns status
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/session_utilities_service.cpp
Owners: @jonlugoatx

Adding unit test
  source/tests/unit/device_enumerator_tests.cpp
Owners: @reckenro, @jonlugoatx

[Owners] [Tiny] Adding unit tests for NextResource API used by Device Enumeration (#125)
  source/tests/unit/device_enumerator_tests.cpp
Owners: @reckenro, @jonlugoatx

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt      @SparkingSpork
/.github/**/*.yml    @SparkingSpork
/scripts/            @SparkingSpork

# Examples and docs
/examples            @kylesull30 @jonlugoatx
README.md            @kylesull30 @jonlugoatx

# Codegen
/generated           @reckenro @jonlugoatx
/source/codegen/     @reckenro @jonlugoatx

# Core server
/source/core_server/ @kylesull30 @jonlugoatx

# Test
/source/tests/       @reckenro @jonlugoatx
