Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Ensure absolute path for staging_dir in validate_examples.py (#565)
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

fix up conditional in workflow trigger
  .github/workflows/trigger_azdo_ci.yml
Owners: @SparkingSpork, @astarche, @mgumble

Install nasm for windows workflow builds
  .github/workflows/build_cmake.yml
Owners: @SparkingSpork, @astarche, @mgumble

added 34 XNET APIs
  CMakeLists.txt
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  generated/nixnet/nixnet_service_registrar.cpp
  generated/nixnet/nixnet_service_registrar.h
  generated/register_all_services.cpp
  imports/include/nixnet.h
  imports/lib/win64/nixnet.lib
  source/codegen/metadata/nixnet/CHANGES.md
  source/codegen/metadata/nixnet/__init__.py
  source/codegen/metadata/nixnet/attributes.py
  source/codegen/metadata/nixnet/attributes_addon.py
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/config_addon.py
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata/nixnet/functions_addon.py
  source/custom/nixnet_service.custom.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Install nasm for windows workflow builds (#568)
  .github/workflows/build_cmake.yml
Owners: @SparkingSpork, @astarche, @mgumble

Exclude reserved parameters (#562)
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxnr/nirfmxnr_client.cpp
  generated/nirfmxnr/nirfmxnr_client.h
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_client.cpp
  generated/nirfmxwlan/nirfmxwlan_client.h
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsg/nirfsg.proto
  generated/nirfsg/nirfsg_client.cpp
  generated/nirfsg/nirfsg_client.h
  generated/nirfsg/nirfsg_service.cpp
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/codegen/metadata/nirfmxnr/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/codegen/metadata/nirfsg/functions.py
Owners: @reckenro, @astarche, @mgumble

Rename mod_acc to modacc; trucate 10.00000 to 10.0
  examples/nirfmxlte/ul-modacc-single-carrier.py
Owners: @astarche, @mgumble

Remove commented EXPECT_EQ
  source/tests/system/nirfmxlte_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add example-based LTE spot tests (#564)
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/rfmx_macros.h
Owners: @reckenro, @astarche, @mgumble

Add LTE examples (#566)
  examples/nirfmxlte/acp-single-carrier.py
  examples/nirfmxlte/ul-modacc-single-carrier.py
Owners: @astarche, @mgumble

Fix several python linter issues in source/codegen
  python_build_requirements.txt
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/generate_service.py
  source/codegen/generate_shared_service_files.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/proto_helpers.py
  source/codegen/service_helpers.py
  source/codegen/stage_client_files.py
  source/codegen/template_helpers.py
  source/codegen/validate_examples.py
Owners: @astarche, @mgumble, @reckenro

Use mypy_path instead of relative imports
  pyproject.toml
  source/codegen/client_helpers.py
  source/codegen/generate_service.py
  source/codegen/generate_shared_service_files.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/proto_helpers.py
  source/codegen/service_helpers.py
  source/codegen/stage_client_files.py
  source/codegen/validate_examples.py
Owners: @astarche, @mgumble, @reckenro

Better docstrings for is_regular_* functions
  source/codegen/common_helpers.py
Owners: @reckenro, @astarche, @mgumble

extend multiple resource_hadle_type to to use correct repository for accessing the session. Update functions.py to tag custom_close methods for init APIs using non-default session repository
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/functions.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

delete commented code
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

fix python formatting
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

Fix several python linter issues in source/codegen (#571)
  pyproject.toml
  python_build_requirements.txt
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/generate_service.py
  source/codegen/generate_shared_service_files.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/proto_helpers.py
  source/codegen/service_helpers.py
  source/codegen/stage_client_files.py
  source/codegen/template_helpers.py
  source/codegen/validate_examples.py
Owners: @astarche, @mgumble, @reckenro

New version of metadata
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Fix call to ni-python-styleguide
  .github/workflows/validate_python.yml
Owners: @SparkingSpork, @astarche, @mgumble

address review comments, fix linux build failure
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions_addon.py
  source/codegen/templates/service_helpers.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Create top-level ci.yml workflow (#567)
  .github/workflows/build_cmake.yml
  .github/workflows/build_nilrt.yml
  .github/workflows/cancel_builds.yml
  .github/workflows/ci.yml
  .github/workflows/create_client_artifacts.yml
  .github/workflows/trigger_azdo_ci.yml
  .github/workflows/validate_python.yml
Owners: @SparkingSpork, @astarche, @mgumble

Add exception handling to LTE examples.
  examples/nirfmxlte/acp-single-carrier.py
  examples/nirfmxlte/ul-modacc-single-carrier.py
Owners: @astarche, @mgumble

extract type check for reinterpret_cast into helper method
  source/codegen/common_helpers.py
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

XNET gRPC APIs (#570)
  CMakeLists.txt
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  generated/nixnet/nixnet_service_registrar.cpp
  generated/nixnet/nixnet_service_registrar.h
  generated/register_all_services.cpp
  imports/include/nixnet.h
  imports/lib/win64/nixnet.lib
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnet/CHANGES.md
  source/codegen/metadata/nixnet/__init__.py
  source/codegen/metadata/nixnet/attributes.py
  source/codegen/metadata/nixnet/attributes_addon.py
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/config_addon.py
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata/nixnet/functions_addon.py
  source/codegen/templates/service_helpers.mako
  source/custom/nixnet_service.custom.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

generating some more xnet grpc APIs
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Add fake tests for returned values
  generated/nifake_non_ivi/nifake_non_ivi.proto
  generated/nifake_non_ivi/nifake_non_ivi_client.cpp
  generated/nifake_non_ivi/nifake_non_ivi_client.h
  generated/nifake_non_ivi/nifake_non_ivi_library.cpp
  generated/nifake_non_ivi/nifake_non_ivi_library.h
  generated/nifake_non_ivi/nifake_non_ivi_library_interface.h
  generated/nifake_non_ivi/nifake_non_ivi_mock_library.h
  generated/nifake_non_ivi/nifake_non_ivi_service.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service.h
  source/codegen/metadata/nifake_non_ivi/functions.py
  source/tests/unit/ni_fake_non_ivi_service_tests.cpp
Owners: @reckenro, @astarche, @mgumble

remove stray comment
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Add comments to py files
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

Add helper for is_return_value
  source/codegen/common_helpers.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

Add exception handling to LTE examples. (#576)
  examples/nirfmxlte/acp-single-carrier.py
  examples/nirfmxlte/ul-modacc-single-carrier.py
Owners: @astarche, @mgumble

Fix typo in is_return_value doc comment
  source/codegen/common_helpers.py
Owners: @reckenro, @astarche, @mgumble

Exected => expected for two-dimension implementations.
  generated/nifake/nifake_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

Change misspelled names in SpecAn proto.
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxspecan/functions.py
Owners: @reckenro, @astarche, @mgumble

Add a python version restriction for the black dependency
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Change misspelled names in SpecAn proto. (#579)
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxspecan/functions.py
Owners: @reckenro, @astarche, @mgumble

Exected => expected for two-dimension implementations. (#578)
  generated/nifake/nifake_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

Fix remaining linter issues in source/codegen/
  .github/workflows/validate_python.yml
  source/codegen/__init__.py
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/generate_service.py
  source/codegen/generate_shared_service_files.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/proto_helpers.py
  source/codegen/service_helpers.py
  source/codegen/stage_client_files.py
  source/codegen/template_helpers.py
  source/codegen/templates/service_helpers.mako
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

xnet custom apis
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/xnet_converters.h
Owners: @reckenro, @astarche, @mgumble

Regen
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nidcpower/nidcpower_service.cpp
  generated/nidigitalpattern/nidigitalpattern_service.cpp
  generated/nidmm/nidmm_service.cpp
  generated/nifake/nifake_service.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service.cpp
  generated/nifgen/nifgen_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsa/nirfsa_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  generated/nisync/nisync_service.cpp
  generated/nitclk/nitclk_service.cpp
Owners: @reckenro, @astarche, @mgumble

Fix remaining linter issues in source/codegen/ (#581)
  .github/workflows/validate_python.yml
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nidcpower/nidcpower_service.cpp
  generated/nidigitalpattern/nidigitalpattern_service.cpp
  generated/nidmm/nidmm_service.cpp
  generated/nifake/nifake_service.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service.cpp
  generated/nifgen/nifgen_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsa/nirfsa_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  generated/nisync/nisync_service.cpp
  generated/nitclk/nitclk_service.cpp
  source/codegen/__init__.py
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/generate_service.py
  source/codegen/generate_shared_service_files.py
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
  source/codegen/proto_helpers.py
  source/codegen/service_helpers.py
  source/codegen/stage_client_files.py
  source/codegen/template_helpers.py
  source/codegen/templates/service_helpers.mako
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro
