Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Undo accidental enums change.
  source/codegen/metadata/nixnetsocket/enums.py
Owners: @reckenro, @astarche, @mgumble

Fix up pointer returned for string data.
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Rebuild post rebase.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
Owners: @reckenro, @astarche, @mgumble

Rename SockOptDataHolder to ...InputConverter
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Don't have OptName as part of SockOptData.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Simplify SockOptDataInputConverter a little.
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Add support for nxVirtualInterface_t arrays
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add SetSockOpt to xnet socket service. (#600)
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/enums.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/custom/xnetsocket_converters.h
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

initial support for read/write frame APIs
  examples/nixnet/CAN_Convert_Frames_to_from_Signals.py
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_custom.h
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble, @reckenro

Palash's change for "Custom" codegen_method
  source/codegen/common_helpers.py
  source/codegen/metadata_validation.py
  source/codegen/templates/proto.mako
Owners: @reckenro, @astarche, @mgumble

added all get/set API support
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.h
  source/codegen/client_helpers.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/templates/client.cpp.mako
  source/codegen/templates/client.h.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Autogenerating ReadStateTimeTrigger and using macros in custom messages
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

addressed some comments from Alex
  generated/nixnet/nixnet.proto
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
Owners: @reckenro, @astarche, @mgumble

Adding comments and default case
  source/codegen/service_helpers.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Fix python styling error
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

added DbGetDatabaseList API custom implementation
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

python validation fix
  source/codegen/client_helpers.py
  source/codegen/common_helpers.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

minor
  generated/nixnet/nixnet_service.h
  source/codegen/templates/client.cpp.mako
  source/codegen/templates/client.h.mako
  source/codegen/templates/service.h.mako
Owners: @reckenro, @astarche, @mgumble

[work-in-progress] Ethernet frame support
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Port C examples to Python changes
  examples/nixnet/CAN_SIGNAL_SINGLE_POINT_OUTPUT.py
  examples/nixnet/Ethernet_Frame_Stream_Input_Reader.py
  examples/nixnet/FlexRay_Signal_Single_Point_Input.py
  examples/nixnet/LIN_Signal_Single_Point_Output.py
  examples/nixnet/nixnet.proto
  examples/nixnet/nixnet_pb2.py
  examples/nixnet/nixnet_pb2_grpc.py
  examples/nixnet/session.proto
  examples/nixnet/session_pb2.py
  examples/nixnet/session_pb2_grpc.py
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble, @reckenro

minor
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

WriteState API custom implementation
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

added db_ref and db_ref_array support for get/set APIs
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/custom_proto.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Updated few changes
  examples/nixnet/CAN_SIGNAL_SINGLE_POINT_OUTPUT.py
  examples/nixnet/FlexRay_Signal_Single_Point_Input.py
Owners: @astarche, @mgumble

Fix cross compiler build error
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble

revert changes to *Property enum names
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

copy over metadata changes from scrapigen repo
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  source/codegen/metadata/nixnet/attributes.py
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Support for copying Enet Frames
  examples/nixnet/CAN_Convert_Frames_to_from_Signals.py
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/functions.py
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble, @reckenro

Put the SetSockOptRequest opt_data field at the end of the message.
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

Remove lengh param rom EnetFrame message
  examples/nixnet/ENET_Convert_Frames_to_from_Signals.py
  generated/nixnet/nixnet.proto
  source/codegen/metadata/nixnet/custom_proto.mako
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble, @reckenro

Revert "Palash's change for "Custom" codegen_method"
  source/codegen/common_helpers.py
  source/codegen/metadata_validation.py
  source/codegen/templates/proto.mako
Owners: @reckenro, @astarche, @mgumble

generate messages for frame APIs through codegen
  examples/nixnet/CAN_Convert_Frames_to_from_Signals.py
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/library.cpp.mako
  source/custom/nixnet_service.custom.cpp
Owners: @astarche, @mgumble, @reckenro

Building version (data not set).
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata/nixnetsocket/functions_addon.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/custom/xnetsocket_converters.h
Owners: @reckenro, @astarche, @mgumble

Convert output sock opt data to and from void*.
  generated/nixnetsocket/nixnetsocket_service.cpp
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/server/converters.h
Owners: @reckenro, @astarche, @mgumble

Passing tests.
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Expand int OptName coverage in converter.
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Add test case for unknown optname input.
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Avoid formatting functions.py.
  source/codegen/metadata/nixnetsocket/functions.py
Owners: @reckenro, @astarche, @mgumble

[in-progress] Fix codegen to support frame APIs to use codegen
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
  source/custom/nixnet_converters.h
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

Tested LIN and updated FlexRay
  examples/nixnet/FlexRay_Signal_Single_Point_Input.py
  examples/nixnet/LIN_Signal_Single_Point_Output.py
Owners: @astarche, @mgumble
