Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

Initialize session_id to 0.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Separate out initializing enums with mapping into separate def.
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Add library implementation that delayload links on Windows
  CMakeLists.txt
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/niscope/niscope.proto
  generated/niscope/niscope_library.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_library_interface.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  imports/lib/win64/ivi.lib
  imports/lib/win64/niScope.lib
  source/codegen/library.cpp.mako
  source/codegen/library.h.mako
Owners: @SparkingSpork, @reckenro, @jonlugoatx

Factor out setting response values to def.
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Round out unit testing
  CMakeLists.txt
  source/core_server/hardware/grpc/internal/server_configuration_parser.cpp
  source/core_server/hardware/grpc/internal/server_configuration_parser.h
  source/core_server/hardware/grpc/internal/server_security_configuration.cpp
  source/core_server/hardware/grpc/internal/server_security_configuration.h
  source/tests/unit/hardware/grpc/internal/server_configuration_parser_tests.cpp
  source/tests/unit/hardware/grpc/internal/server_security_configuration_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30, @jonlugoatx

Adding NIScope mock
  generated/niscope/niscope_mock_library.h
Owners: @reckenro, @jonlugoatx

Run clang-format on all modified files
  source/core_server/hardware/grpc/internal/server_configuration_parser.cpp
  source/core_server/hardware/grpc/internal/server_configuration_parser.h
  source/core_server/hardware/grpc/internal/server_security_configuration.cpp
  source/core_server/hardware/grpc/internal/server_security_configuration.h
  source/tests/unit/hardware/grpc/internal/server_configuration_parser_tests.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Simplify get_exe_path
  source/core_server/hardware/grpc/internal/server_configuration_parser.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Simplify get_exe_path more
  source/core_server/hardware/grpc/internal/server_configuration_parser.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Fixing spacing in CMake
  CMakeLists.txt
Owners: @SparkingSpork

Updating Windows build instructions to include bitness
  .github/workflows/build_cmake.yml
  README.md
Owners: @SparkingSpork, @jonlugoatx

Updating to only use flag for Windows
  .github/workflows/build_cmake.yml
Owners: @SparkingSpork

Forgot a comma
  .github/workflows/build_cmake.yml
Owners: @SparkingSpork

Rename top level def's to have better names.
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Organize Tests
  CMakeLists.txt
  source/tests/integration/core_service_tests.cpp
  source/tests/system/stub_test.cpp
  source/tests/unit/core_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/unit/session_repository_tests.cpp
  source/tests/unit/shared_library_tests.cpp
  source/tests/utilities/test_api.cpp
  source/tests/utilities/test_api.h
Owners: @SparkingSpork, @epetersoni, @kylesull30

Rename test runner
  CMakeLists.txt
Owners: @SparkingSpork

Remove deep namespace
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Fix linux compile error
  generated/nifake/nifake_library.cpp
  generated/niscope/niscope_library.cpp
  source/codegen/library.cpp.mako
Owners: @reckenro, @jonlugoatx

Updating Windows build instructions to include bitness (#57)
  .github/workflows/build_cmake.yml
  README.md
Owners: @SparkingSpork, @jonlugoatx

Rely on default scalar values for id and name on session.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Indent body of multi-line lambda.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Make session_name gotten from the request a const std::string&.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Add blank line after closing namespace brackets.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Fix up end of file to end in blank line.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Refactor to sanitize params only once and pass more info to top level defs.
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Make session's id field a uint32 instead of fixed32.
  source/server_utilities.proto
Owners: @jonlugoatx

Go through session repository for VI Session access and initialization. (#49)
  CMakeLists.txt
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/handler_helpers.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
  source/core_server/hardware/grpc/internal/session_repository.cpp
  source/core_server/hardware/grpc/internal/session_repository.h
  source/server_utilities.proto
  source/tests/unit/hardware/grpc/core_service_tests.cpp
  source/tests/unit/hardware/grpc/internal/session_repository_tests.cpp
Owners: @SparkingSpork, @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Document more metadata changes.
  source/metadata/niscope/CHANGES.md
Owners: @jonlugoatx

First round of feedback from Charlie
  source/core_server/core_server.cpp
  source/core_server/hardware/grpc/internal/server_configuration_parser.h
  source/core_server/hardware/grpc/internal/server_security_configuration.cpp
  source/core_server/hardware/grpc/internal/server_security_configuration.h
  source/tests/unit/hardware/grpc/internal/server_security_configuration_tests.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Address feedback and clean up mako
  CMakeLists.txt
  generated/nifake/nifake_library.h
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_library.h
  generated/niscope/niscope_service.cpp
  source/codegen/library.h.mako
  source/codegen/service.cpp.mako
Owners: @SparkingSpork, @reckenro, @jonlugoatx

Rename cert files to have example in name
  certs/example_client_privatekey.pem
  certs/example_client_self_signed_crt.pem
  certs/example_server_privatekey.pem
  certs/example_server_self_signed_crt.pem
Owners: @jonlugoatx

Implement feedback on checked in certificate files
  CMakeLists.txt
  certs/example_client_self_signed_crt.pem
  certs/example_server_privatekey.pem
  certs/example_server_self_signed_crt.pem
  source/tests/assets/server_configuration_parser_tests/test_client_self_signed_crt.pem
  source/tests/assets/server_configuration_parser_tests/test_server_privatekey.pem
  source/tests/assets/server_configuration_parser_tests/test_server_self_signed_crt.pem
  source/tests/unit/hardware/grpc/internal/server_configuration_parser_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

delete cert and script from repo
  certs/example_client_privatekey.pem
  certs/make-certs.ps1
Owners: @jonlugoatx

Rename helper
  source/core_server/hardware/grpc/internal/server_configuration_parser.cpp
  source/core_server/hardware/grpc/internal/server_configuration_parser.h
Owners: @epetersoni, @kylesull30, @jonlugoatx

properly name test class
  source/tests/unit/hardware/grpc/internal/server_security_configuration_tests.cpp
Owners: @epetersoni, @kylesull30

Report security config when server starts.
  source/core_server/core_server.cpp
Owners: @epetersoni, @kylesull30, @jonlugoatx

Fix test name in CMakeLists.txt
  CMakeLists.txt
Owners: @SparkingSpork

Changes made according to variable name convention and added more comments to various sections of the code
  examples/device enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Changes copyright 2020 to copyright 2021
  examples/device enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Fixed some syntax errors.
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library_wrapper.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/metadata/niswitch/functions.py
Owners: @reckenro, @jonlugoatx

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30
