Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Rename 'nirfmxbt' to 'nirfmxbluetooth'. (#530)
  CMakeLists.txt
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service_registrar.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service_registrar.h
  generated/register_all_services.cpp
  source/codegen/metadata/nirfmxbluetooth/__init__.py
  source/codegen/metadata/nirfmxbluetooth/attributes.py
  source/codegen/metadata/nirfmxbluetooth/attributes_addon.py
  source/codegen/metadata/nirfmxbluetooth/config.py
  source/codegen/metadata/nirfmxbluetooth/config_addon.py
  source/codegen/metadata/nirfmxbluetooth/enums.py
  source/codegen/metadata/nirfmxbluetooth/enums_addon.py
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/codegen/metadata/nirfmxbluetooth/functions_addon.py
  source/custom/nirfmxbluetooth_service.custom.cpp
  source/custom/nirfmxbt_service.custom.cpp
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxbluetooth_session_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Add python examples for BT
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Fix .chm file names in example comments
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

s/BT/Bluetooth/
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Add TwentydB methods to NiRFmxBluetooth
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add python examples for BT (#529)
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Fix .chm file names in example comments (#531)
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Add BuildSlotString to nirfmxbluetooth
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Import latest from scrapigen
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  source/codegen/metadata/nirfmxbluetooth/functions.py
Owners: @reckenro, @astarche, @mgumble

Add TwentydB methods to NiRFmxBluetooth (#532)
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Set Instr attribute types
  source/codegen/metadata/nirfmxinstr/attributes.py
Owners: @reckenro, @astarche, @mgumble

Move separators in WLAN attributes, etc.; fix Status typo
  examples/nirfmxwlan/ofdm-modacc.py
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxwlan/attributes.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Add BuildSlotString to nirfmxbluetooth (#533)
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_library_interface.h
  generated/nirfmxbluetooth/nirfmxbluetooth_mock_library.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.h
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Change 20DB to TWENTY_DB in enums and attributes
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  source/codegen/metadata/nirfmxbluetooth/attributes.py
  source/codegen/metadata/nirfmxbluetooth/enums.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix GNodeB=>GNODEB_ enum value prefix
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/enums.py
Owners: @reckenro, @astarche, @mgumble

Fix "PI_BY2" enum value prefix.
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/enums.py
Owners: @reckenro, @astarche, @mgumble

Move separators in WLAN attributes, etc.; fix Status typo (#535)
  examples/nirfmxwlan/ofdm-modacc.py
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxwlan/attributes.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Change 20DB to TWENTY_DB in enums and attributes (#536)
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  source/codegen/metadata/nirfmxbluetooth/attributes.py
  source/codegen/metadata/nirfmxbluetooth/enums.py
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix GNodeB=>GNODEB_ enum value prefix (#537)
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/enums.py
Owners: @reckenro, @astarche, @mgumble

Update types
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Add support for optional repeated structs
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nidcpower/nidcpower_service.cpp
  generated/nifake/nifake.proto
  generated/nifake/nifake_client.cpp
  generated/nifake/nifake_client.h
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.cpp
  generated/nifgen/nifgen_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/templates/service_helpers.mako
  source/server/converters.h
  source/tests/unit/converters_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add missing attribute and related enum values.
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/attributes.py
  source/codegen/metadata/nirfmxnr/enums.py
Owners: @reckenro, @astarche, @mgumble

Update raise_if_error to use the correct package when calling getErrorRequest (#540)
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Fix "PI_BY2" enum value prefix. (#539)
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxnr/enums.py
Owners: @reckenro, @astarche, @mgumble

Update not implemented and no target messaging in RFmx examples.
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Write to STDERR instead of print.
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Enable black for metadata_*.py files
  pyproject.toml
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
Owners: @astarche, @mgumble, @reckenro

Move NR Expect macros to separate header.
  source/tests/system/expect_macros.h
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

comma hygiene
  source/codegen/metadata_mutation.py
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Revert back to just checking response success to maintain old behavior.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use macros in bluetooth.
  source/tests/system/expect_macros.h
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Remove old template expect methods in BT.
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update not implemented and no target messaging in RFmx examples. (#543)
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Add --device flag to validate_examples
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Use macro Expects across RFmx tests.
  source/tests/system/expect_macros.h
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix typo in AcpBasic python example for NI-RFmx Bluetooth.
  examples/nirfmxbluetooth/acp-basic.py
Owners: @astarche, @mgumble

Add --device flag to validate_examples (#545)
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Check untyped defs in validate examples
  .github/workflows/build_cmake.yml
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

expect_macros -> rfmx_expect_macros.
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/rfmx_expect_macros.h
Owners: @reckenro, @astarche, @mgumble

Fix typo in AcpBasic python example for NI-RFmx Bluetooth. (#547)
  examples/nirfmxbluetooth/acp-basic.py
Owners: @astarche, @mgumble
