Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Build generated folder after merge.
  generated/niscope/niscope_library.cpp
Owners: @reckenro, @jonlugoatx

Implement GetScalingCoefficients and GetNormalizationCoefficients.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Document metadata updates in CHANGES.md.
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Update LICENSE (#109)
  LICENSE
Owners: @jonlugoatx

Removed "Connecting :"
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Changes in comments
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Owners comments
  source/server/device_enumerator.cpp
  source/tests/unit/device_enumerator_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Exposing SetFilterProperty
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
Owners: @jonlugoatx

Removing spaces
  source/server/syscfg_library.h
Owners: @jonlugoatx

Updating tests
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Added missing attributes. Functions names were made Pascal and moved to their alphabetic position.
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/attributes.py
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/niswitch/functions.py
Owners: @reckenro, @jonlugoatx

Updating niscope_driver_api_tests to use the new device enumerator constructor
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @epetersoni, @kylesull30

Using SetFilterPropertyV
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
Owners: @jonlugoatx

Removing setup and teardown
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Removing ClientCalls
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Update ivi-dance-with-a-twist methods.
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/functions.py
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Introduce CheckStatus method to check status and throw exception if not 0.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Add special handling for num_samples < 0.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Dummy commit to get build passing.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Revert "Dummy commit to get build passing."
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Document fields marked `included_in_proto: False`.
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Comments by jonathan
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/tests/system/niscope_driver_api_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Moving tests to integration
  CMakeLists.txt
  source/tests/integration/in_process_server_client_tests.cpp
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

renaming test file name
  CMakeLists.txt
  source/tests/integration/in_process_server_client_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

moving
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Added missing values in enums.py
  generated/niswitch/niswitch.proto
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/attributes.py
  source/codegen/metadata/niswitch/enums.py
Owners: @reckenro, @jonlugoatx

Comments
  source/tests/unit/device_enumerator_tests.cpp
Owners: @epetersoni, @kylesull30

Owners comments
  source/tests/system/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Fix up some namespaces in new methods and rebuild generated folder.
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/service.h.mako
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Update FetchArrayMeasurement.
  generated/niscope/niscope.proto
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Update enums
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/proto.mako
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

changed devices/chassis to only devices
  examples/device_enumerator/EnumerateDevice.py
Owners: @jonlugoatx

Use switch statement for input enum params
  generated/nifake/nifake_service.cpp
  source/codegen/common_helpers.py
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Add tests for non-enum values
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Update generated files
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
Owners: @reckenro, @jonlugoatx

Add test for returning a value not in enum
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Import cifra's examples
  examples/niscope/better-python/EX_niScope_Measurement_Library.py
  examples/niscope/better-python/niScope_Measurement_Library.py
  examples/niscope/better-python/scopeRead.py
  examples/niscope/python/EX_niScope_Measurement_Library.py
  examples/niscope/python/niScope_Measurement_Library.py
  examples/niscope/python/scopeRead.py
Owners: @jonlugoatx

[Owners]Added missing attributes in Switch metadata (#111)
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/attributes.py
  source/codegen/metadata/niswitch/config.py
  source/codegen/metadata/niswitch/enums.py
  source/codegen/metadata/niswitch/functions.py
Owners: @reckenro, @jonlugoatx

Updating correct namespace
  source/server/device_enumerator.cpp
  source/server/device_enumerator.h
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
  source/tests/unit/syscfg_library_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Running clang-format
  source/protobuf/session.proto
  source/server/core_server.cpp
  source/server/device_enumerator.h
  source/server/session_repository.h
  source/server/shared_library.h
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/ni_fake_service_tests.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/unit/server_security_configuration_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
  source/tests/unit/shared_library_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30
