Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

Add SockAddr type and converters to xnetsocket service
  CMakeLists.txt
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Remove pointer metadata validation
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

re-add _errors.h headers
  source/custom/nifake_non_ivi_errors.h
  source/custom/nirfmx_errors.h
Owners: @astarche, @mgumble

fix unintentional spaces
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nidcpower/nidcpower_service.cpp
  generated/nidigitalpattern/nidigitalpattern_service.cpp
  generated/nidmm/nidmm_service.cpp
  generated/nifake/nifake_service.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service.cpp
  generated/nifgen/nifgen_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsa/nirfsa_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  generated/nisync/nisync_service.cpp
  generated/nitclk/nitclk_service.cpp
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

fix unintentional spaces
  generated/nidaqmx/nidaqmx_service.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

fix unintentional spaces
  generated/nifake/nifake_service.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  generated/nirfsa/nirfsa_service.cpp
  generated/nirfsg/nirfsg_service.cpp
  source/codegen/templates/service_helpers.mako
Owners: @reckenro, @astarche, @mgumble

Add a python version restriction for the black dependency (#582)
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Set CodeReadiness to Release for nirfmxbluetooth.
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  source/codegen/metadata/nirfmxbluetooth/config.py
Owners: @reckenro, @astarche, @mgumble

Review fixups
  source/codegen/common_helpers.py
  source/codegen/metadata/nirfmxlte/config.py
  source/codegen/metadata/nirfmxnr/config.py
  source/tests/system/nirfmxspecan_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Enable toggle for nirfmxspecan service
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxspecan/config.py
Owners: @reckenro, @astarche, @mgumble

Add instr toggle
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  source/codegen/metadata/nirfmxinstr/config.py
Owners: @reckenro, @astarche, @mgumble

Merge handling of cross-driver-session and resource-handle-types
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/codegen/service_helpers.py
  source/codegen/templates/register_all_services.cpp.mako
  source/codegen/templates/service.cpp.mako
  source/codegen/templates/service.h.mako
  source/codegen/templates/service_helpers.mako
  source/codegen/templates/service_registrar.cpp.mako
  source/codegen/templates/service_registrar.h.mako
Owners: @reckenro, @astarche, @mgumble

add non-ivi fake test for multiple session repositories
  generated/nifake_non_ivi/nifake_non_ivi.proto
  generated/nifake_non_ivi/nifake_non_ivi_client.cpp
  generated/nifake_non_ivi/nifake_non_ivi_client.h
  generated/nifake_non_ivi/nifake_non_ivi_library.cpp
  generated/nifake_non_ivi/nifake_non_ivi_library.h
  generated/nifake_non_ivi/nifake_non_ivi_library_interface.h
  generated/nifake_non_ivi/nifake_non_ivi_mock_library.h
  generated/nifake_non_ivi/nifake_non_ivi_service.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service.h
  generated/nifake_non_ivi/nifake_non_ivi_service_registrar.cpp
  generated/nifake_non_ivi/nifake_non_ivi_service_registrar.h
  imports/include/niFakeNonIvi.h
  source/codegen/metadata/nifake_non_ivi/config.py
  source/codegen/metadata/nifake_non_ivi/functions.py
  source/tests/integration/ni_fake_non_ivi_service_tests_endtoend.cpp
  source/tests/unit/ni_fake_non_ivi_service_tests.cpp
Owners: @reckenro, @astarche, @mgumble

remove unwanted files
  generated/nixnet/nixnet_service_registrar_BACKUP_1012.cpp
  generated/nixnet/nixnet_service_registrar_BASE_1012.cpp
  generated/nixnet/nixnet_service_registrar_LOCAL_1012.cpp
  generated/nixnet/nixnet_service_registrar_REMOTE_1012.cpp
Owners: @reckenro, @astarche, @mgumble

fix python format
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

fix python format
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

Set CodeReadiness to Release for nirfmxbluetooth. (#584)
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  source/codegen/metadata/nirfmxbluetooth/config.py
Owners: @reckenro, @astarche, @mgumble

Add raise_if_initialization_error to rfmx examples
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxlte/acp-single-carrier.py
  examples/nirfmxlte/ul-modacc-single-carrier.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Enable toggle for nirfmxspecan service (#585)
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxinstr/config.py
  source/codegen/metadata/nirfmxspecan/config.py
Owners: @reckenro, @astarche, @mgumble

Remove obsolete SubblockFrequencyDefinition functions/enums/attributes from RFmx
  generated/nirfmxlte/nirfmxlte.proto
  generated/nirfmxlte/nirfmxlte_client.cpp
  generated/nirfmxlte/nirfmxlte_client.h
  generated/nirfmxlte/nirfmxlte_library.cpp
  generated/nirfmxlte/nirfmxlte_library.h
  generated/nirfmxlte/nirfmxlte_library_interface.h
  generated/nirfmxlte/nirfmxlte_mock_library.h
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxlte/nirfmxlte_service.h
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxlte/attributes.py
  source/codegen/metadata/nirfmxlte/enums.py
  source/codegen/metadata/nirfmxlte/functions.py
  source/codegen/metadata/nirfmxnr/attributes.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add raise_if_initialization_error to rfmx examples (#586)
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
  examples/nirfmxlte/acp-single-carrier.py
  examples/nirfmxlte/ul-modacc-single-carrier.py
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Enable remaining RFmx feature toggles
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxlte/config.py
  source/codegen/metadata/nirfmxnr/config.py
  source/codegen/metadata/nirfmxwlan/config.py
Owners: @reckenro, @astarche, @mgumble

Fix test name
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add SockAddr type and converters to xnetsocket service (#575)
  CMakeLists.txt
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/custom_proto.mako
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Add conditional dependency on custom_proto.mako
  CMakeLists.txt
Owners: @SparkingSpork, @astarche, @mgumble

Add support for socket set and timeval for select
  generated/nifake/nifake_service.cpp
  generated/nixnetsocket/nixnetsocket.proto
  generated/nixnetsocket/nixnetsocket_client.cpp
  generated/nixnetsocket/nixnetsocket_client.h
  generated/nixnetsocket/nixnetsocket_library.cpp
  generated/nixnetsocket/nixnetsocket_library.h
  generated/nixnetsocket/nixnetsocket_library_interface.h
  generated/nixnetsocket/nixnetsocket_mock_library.h
  generated/nixnetsocket/nixnetsocket_service.cpp
  generated/nixnetsocket/nixnetsocket_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnetsocket/config.py
  source/codegen/metadata/nixnetsocket/functions.py
  source/codegen/metadata_validation.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service_helpers.mako
  source/custom/xnetsocket_converters.h
  source/tests/system/nixnetsocket_driver_api_tests.cpp
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Tests fixup
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

revert bogus change to metadata_validation
  source/codegen/metadata_validation.py
Owners: @reckenro, @astarche, @mgumble

Remove obsolete SubblockFrequencyDefinition functions/enums/attributes from RFmx (#587)
  generated/nirfmxlte/nirfmxlte.proto
  generated/nirfmxlte/nirfmxlte_client.cpp
  generated/nirfmxlte/nirfmxlte_client.h
  generated/nirfmxlte/nirfmxlte_library.cpp
  generated/nirfmxlte/nirfmxlte_library.h
  generated/nirfmxlte/nirfmxlte_library_interface.h
  generated/nirfmxlte/nirfmxlte_mock_library.h
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxlte/nirfmxlte_service.h
  generated/nirfmxnr/nirfmxnr.proto
  source/codegen/metadata/nirfmxlte/attributes.py
  source/codegen/metadata/nirfmxlte/enums.py
  source/codegen/metadata/nirfmxlte/functions.py
  source/codegen/metadata/nirfmxnr/attributes.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Enable remaining RFmx feature toggles (#588)
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxlte/config.py
  source/codegen/metadata/nirfmxnr/config.py
  source/codegen/metadata/nirfmxwlan/config.py
Owners: @reckenro, @astarche, @mgumble

underscore pb namespace
  source/custom/xnetsocket_converters.h
Owners: @astarche, @mgumble

Add conditional dependency on custom_proto.mako (#589)
  CMakeLists.txt
Owners: @SparkingSpork, @astarche, @mgumble

No TRUE or FALSE
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

make_tuple my day
  source/tests/unit/xnet_converters_tests.cpp
Owners: @reckenro, @astarche, @mgumble

change dbCreateObject to use cross-driver-session mechanism to avoid deleting of saved objects by 'Close' method during server reset
  generated/nixnet/nixnet_service.cpp
  source/codegen/metadata/nixnet/functions.py
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

fix python format
  source/codegen/service_helpers.py
Owners: @reckenro, @astarche, @mgumble

Add support for passing --artifacts to validate_examples
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Copy functions file from scrapigen export (with some manual changes)
  source/codegen/metadata/nixnet/functions.py
Owners: @reckenro, @astarche, @mgumble

Mose feedback
  source/tests/system/nixnetsocket_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

adding support for generation
  generated/nixnet/nixnet.proto
  generated/nixnet/nixnet_client.cpp
  generated/nixnet/nixnet_client.h
  generated/nixnet/nixnet_library.cpp
  generated/nixnet/nixnet_library.h
  generated/nixnet/nixnet_library_interface.h
  generated/nixnet/nixnet_mock_library.h
  generated/nixnet/nixnet_service.cpp
  generated/nixnet/nixnet_service.h
  source/codegen/common_helpers.py
  source/codegen/metadata/nixnet/config.py
  source/codegen/metadata/nixnet/custom_proto.mako
  source/codegen/metadata/nixnet/enums.py
  source/codegen/metadata/nixnet/enums_addon.py
  source/codegen/metadata/nixnet/functions.py
  source/codegen/metadata_validation.py
  source/codegen/service_helpers.py
  source/codegen/templates/proto.mako
  source/codegen/templates/service.h.mako
  source/custom/nixnet_service.custom.cpp
Owners: @reckenro, @astarche, @mgumble

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble
