Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Updated the changes in CHANGES.md
  source/codegen/metadata/niswitch/CHANGES.md
Owners: @reckenro, @jonlugoatx

Changed the attribute prefix and fixed the unit tests.
  generated/nifake/nifake.proto
  generated/niscope/niscope.proto
  generated/niswitch/niswitch.proto
  source/codegen/proto.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Update switch example port (#89)
  examples/niswitch/software-scanning.py
Owners: @jonlugoatx

Exclude System tests from Run Tests step
  .github/workflows/build_cmake.yml
Owners: @SparkingSpork

Update CHANGES.md
  source/codegen/metadata/niscope/CHANGES.md
Owners: @reckenro, @jonlugoatx

Finish custom service for ni scope.
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/metadata/niscope/functions.py
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Re-order methods in custom service.
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

fixed where my change was broken
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Remake generated files after merge.
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niswitch/niswitch.proto
Owners: @reckenro, @jonlugoatx

Remove copy methods outside service class.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Added the remaining 3 APIs after making some changes to service.cpp.mako
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_library.cpp
  generated/niswitch/niswitch_library.h
  generated/niswitch/niswitch_library_interface.h
  generated/niswitch/niswitch_mock_library.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/metadata/niswitch/CHANGES.md
  source/codegen/metadata/niswitch/functions.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Address kyle's feedback
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Exclude System tests from Run Tests step (#92)
  .github/workflows/build_cmake.yml
Owners: @SparkingSpork

[Owners] Generate service handlers for methods using the 'ivi-dance' mechanism for array sizes. (#79)
  generated/nifake/nifake.proto
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/proto.mako
  source/codegen/proto_helpers.py
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Adds tests except for add multiple types test
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Re-generate handlers after merge to gen new ivi-dance method in ni-scope.
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
Owners: @reckenro, @jonlugoatx

Introduce cancellation logic at the beginning of every service handler.
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch_service.cpp
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Reviewer Feedback
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  source/codegen/handler_helpers.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

removed white space
  source/codegen/handler_helpers.py
Owners: @reckenro, @jonlugoatx

Adding ReturnMultipleTypes Test
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Add cancellation check to custom service handler implementations.
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
Owners: @jonlugoatx

Adding initial system test
  CMakeLists.txt
  source/tests/system/niscope_session_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Fixing CMake file
  CMakeLists.txt
Owners: @SparkingSpork

Remove default values
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Added whitespaces around the '+'
  source/codegen/proto.mako
Owners: @reckenro, @jonlugoatx

Changed attribute name in the newly added test.
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners]Fixing name clash between macro and attribute. (#86)
  generated/nifake/nifake.proto
  generated/niscope/niscope.proto
  generated/niswitch/niswitch.proto
  source/codegen/proto.mako
  source/server/core_server.cpp
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Removed the test for libary loaded case of production library
  source/tests/unit/syscfg_library_tests.cpp
Owners: @epetersoni, @kylesull30

Reveiw comments
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/tests/unit/syscfg_library_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

Not linking with nisyscfg.lib
  CMakeLists.txt
  imports/lib/win64/nisyscfg.lib
  source/tests/unit/device_enumerator_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Making unit tests use mock library
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @epetersoni, @kylesull30

Mkaing integration tests use mock library
  CMakeLists.txt
  source/tests/integration/session_utilities_service_tests.cpp
  source/tests/unit/session_utilities_service_tests.cpp
Owners: @SparkingSpork, @epetersoni, @kylesull30

Making parameters little closer
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Added implementation of 2APIsand cleaned service.cpp.mako
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope_service.cpp
  generated/niswitch/niswitch.proto
  generated/niswitch/niswitch_service.cpp
  source/codegen/metadata/niswitch/functions.py
  source/codegen/service.cpp.mako
Owners: @reckenro, @jonlugoatx

Documented few more changes.
  source/codegen/metadata/niswitch/CHANGES.md
Owners: @reckenro, @jonlugoatx

Removing extra space
  source/server/syscfg_library.cpp
Owners: @jonlugoatx

clean up
  source/server/device_enumerator.cpp
  source/server/syscfg_library.cpp
  source/server/syscfg_library.h
  source/server/syscfg_library_interface.h
  source/tests/unit/device_enumerator_tests.cpp
  source/tests/utilities/syscfg_mock_library.h
Owners: @jonlugoatx, @epetersoni, @kylesull30

Minor
  source/server/syscfg_library.h
Owners: @jonlugoatx

Minor
  source/server/syscfg_library.h
Owners: @jonlugoatx

Minor
  source/server/syscfg_library.h
Owners: @jonlugoatx
