Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

Update Bluetooth examples so that we don't print warnings or nan by default.
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Remove disabled tests (#555)
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add double initialize fails test.
  source/tests/system/nirfmxlte_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add init from RFSA test.
  source/tests/system/nirfmxlte_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add LTE APIs (#556)
  generated/nirfmxlte/nirfmxlte.proto
  generated/nirfmxlte/nirfmxlte_client.cpp
  generated/nirfmxlte/nirfmxlte_client.h
  generated/nirfmxlte/nirfmxlte_library.cpp
  generated/nirfmxlte/nirfmxlte_library.h
  generated/nirfmxlte/nirfmxlte_library_interface.h
  generated/nirfmxlte/nirfmxlte_mock_library.h
  generated/nirfmxlte/nirfmxlte_service.cpp
  generated/nirfmxlte/nirfmxlte_service.h
  generated/nirfmxlte/nirfmxlte_service_registrar.cpp
  generated/nirfmxlte/nirfmxlte_service_registrar.h
  generated/register_all_services.cpp
  source/codegen/metadata/nirfmxlte/attributes.py
  source/codegen/metadata/nirfmxlte/enums.py
  source/codegen/metadata/nirfmxlte/functions.py
  source/tests/system/nirfmxlte_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add init from RFSA test.
  source/tests/system/nirfmxlte_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add double initialize fails test.
  source/tests/system/nirfmxlte_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use EXPECT_RESPONSE_SUCCESS for close calls.
  source/tests/system/nirfmxlte_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Feedback from David and Alex.
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Fix mistake with comment.
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Update NR to use proto enums over header defines.
  source/tests/system/nirfmxnr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix WLAN system tests to rely on proto enums over header defines.
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update bluteooth system tests to not pull in header.
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update Instr tests to not pull in header.
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Don't include header in DAQ system tests.
  source/tests/system/nidaqmx_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Upper snake DAQ Error constant names.
  source/tests/system/nidaqmx_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Remove header from RFSA system tests.
  source/tests/system/nirfsa_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use enum over int for Expect.
  source/tests/system/nirfsa_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

David's feedback.
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Reformat files with black.
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Fix RFmx Bluetooth python examples so that we don't print warnings or NaNs by default. (#558)
  examples/nirfmxbluetooth/acp-basic.py
  examples/nirfmxbluetooth/txp-basic.py
Owners: @astarche, @mgumble

Don't include service headers in system tests.
  source/tests/system/enumerate_devices.cpp
  source/tests/system/nidaqmx_session_tests.cpp
  source/tests/system/nidcpower_driver_api_tests.cpp
  source/tests/system/nidcpower_session_tests.cpp
  source/tests/system/nidigital_driver_api_tests.cpp
  source/tests/system/nidigital_session_tests.cpp
  source/tests/system/nidmm_driver_api_tests.cpp
  source/tests/system/nidmm_session_tests.cpp
  source/tests/system/nifgen_driver_api_tests.cpp
  source/tests/system/nifgen_session_tests.cpp
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxbluetooth_session_tests.cpp
  source/tests/system/nirfmxlte_session_tests.cpp
  source/tests/system/nirfmxnr_session_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_session_tests.cpp
  source/tests/system/nirfmxwlan_session_tests.cpp
  source/tests/system/nirfsg_driver_api_tests.cpp
  source/tests/system/nirfsg_session_tests.cpp
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niscope_session_tests.cpp
  source/tests/system/niswitch_driver_api_tests.cpp
  source/tests/system/niswitch_session_tests.cpp
  source/tests/system/nisync_session_tests.cpp
  source/tests/system/nitclk_driver_api_tests.cpp
  source/tests/system/session_utilities_service_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix type annotation in validate_examples for python <3.9 (#557)
  .github/workflows/validate_python.yml
  source/codegen/validate_examples.py
Owners: @SparkingSpork, @astarche, @mgumble, @reckenro

Avoid including service header in nisync.
  source/tests/system/nisync_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix up some nisync constant names to be upper snake.
  source/tests/system/nisync_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Exclude reserved parameters
  generated/nirfmxbluetooth/nirfmxbluetooth.proto
  generated/nirfmxbluetooth/nirfmxbluetooth_client.cpp
  generated/nirfmxbluetooth/nirfmxbluetooth_client.h
  generated/nirfmxbluetooth/nirfmxbluetooth_service.cpp
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxnr/nirfmxnr_client.cpp
  generated/nirfmxnr/nirfmxnr_client.h
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_client.cpp
  generated/nirfmxwlan/nirfmxwlan_client.h
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxbluetooth/functions.py
  source/codegen/metadata/nirfmxnr/functions.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/functions.py
Owners: @reckenro, @astarche, @mgumble

Add LTE session tests (cross-driver and session management). (#560)
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/nirfmxlte_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Remove references to ivi.h in system-level tests.
  source/tests/system/nidcpower_driver_api_tests.cpp
  source/tests/system/nidigital_driver_api_tests.cpp
  source/tests/system/nifgen_driver_api_tests.cpp
  source/tests/system/nirfsa_driver_api_tests.cpp
  source/tests/system/nirfsg_driver_api_tests.cpp
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niswitch_driver_api_tests.cpp
  source/tests/system/nisync_driver_api_tests.cpp
  source/tests/system/nitclk_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add error constant for RT specific reference.
  source/tests/system/nisync_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add constant instead of inlining string.
  source/tests/system/nirfsa_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Avoid using driver or service headers in system-level tests. (#561)
  source/tests/system/enumerate_devices.cpp
  source/tests/system/nidaqmx_driver_api_tests.cpp
  source/tests/system/nidaqmx_session_tests.cpp
  source/tests/system/nidcpower_driver_api_tests.cpp
  source/tests/system/nidcpower_session_tests.cpp
  source/tests/system/nidigital_driver_api_tests.cpp
  source/tests/system/nidigital_session_tests.cpp
  source/tests/system/nidmm_driver_api_tests.cpp
  source/tests/system/nidmm_session_tests.cpp
  source/tests/system/nifgen_driver_api_tests.cpp
  source/tests/system/nifgen_session_tests.cpp
  source/tests/system/nirfmxbluetooth_driver_api_tests.cpp
  source/tests/system/nirfmxbluetooth_session_tests.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxlte_session_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxnr_session_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_session_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_session_tests.cpp
  source/tests/system/nirfsa_driver_api_tests.cpp
  source/tests/system/nirfsg_driver_api_tests.cpp
  source/tests/system/nirfsg_session_tests.cpp
  source/tests/system/niscope_driver_api_tests.cpp
  source/tests/system/niscope_session_tests.cpp
  source/tests/system/niswitch_driver_api_tests.cpp
  source/tests/system/niswitch_session_tests.cpp
  source/tests/system/nisync_driver_api_tests.cpp
  source/tests/system/nisync_session_tests.cpp
  source/tests/system/nitclk_driver_api_tests.cpp
  source/tests/system/session_utilities_service_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Clang format a few remaining test files.
  source/tests/integration/ni_fake_non_ivi_service_tests_endtoend.cpp
  source/tests/integration/ni_fake_service_tests_endtoend.cpp
  source/tests/system/nidigital_session_tests.cpp
  source/tests/unit/session_resource_repository_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add example-based LTE spot tests
  source/tests/system/nirfmxlte_driver_api_tests.cpp
  source/tests/system/rfmx_macros.h
Owners: @reckenro, @astarche, @mgumble

RFSG, too
  generated/nirfsg/nirfsg.proto
  generated/nirfsg/nirfsg_client.cpp
  generated/nirfsg/nirfsg_client.h
  generated/nirfsg/nirfsg_service.cpp
  source/codegen/metadata/nirfsg/functions.py
Owners: @reckenro, @astarche, @mgumble

Ensure absolute path for staging_dir in validate_examples.py
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Add LTE examples
  examples/nirfmxlte/acp-single-carrier.py
  examples/nirfmxlte/ul-modacc-single-carrier.py
Owners: @astarche, @mgumble

Clang format a few remaining test files. (#563)
  source/tests/integration/ni_fake_non_ivi_service_tests_endtoend.cpp
  source/tests/integration/ni_fake_service_tests_endtoend.cpp
  source/tests/system/nidigital_session_tests.cpp
  source/tests/unit/session_resource_repository_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Create top-level ci.yml workflow
  .github/workflows/build_cmake.yml
  .github/workflows/build_nilrt.yml
  .github/workflows/cancel_builds.yml
  .github/workflows/ci.yml
  .github/workflows/create_client_artifacts.yml
  .github/workflows/trigger_azdo_ci.yml
  .github/workflows/validate_python.yml
Owners: @SparkingSpork, @astarche, @mgumble

Ryan's
  source/tests/system/nirfmxlte_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

pass secrets to trigger_azdo_ci
  .github/workflows/ci.yml
  .github/workflows/trigger_azdo_ci.yml
Owners: @SparkingSpork, @astarche, @mgumble

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble
