Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @astarche, @mgumble, @SparkingSpork, @reckenro

CODEOWNERS:

# Default code owner for the repository
* @astarche @mgumble

# Owners for the build files
/CMakeLists.txt      @SparkingSpork @astarche @mgumble
/.github/**/*.yml    @SparkingSpork @astarche @mgumble
/scripts/            @SparkingSpork @astarche @mgumble

# Codegen
/generated           @reckenro @astarche @mgumble
/source/codegen/     @reckenro @astarche @mgumble

# Test
/source/tests/       @reckenro @astarche @mgumble

Use protobuf bools instead of Boolean enum (#508)
  examples/nirfmxspecan/spectrum-basic.py
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_client.cpp
  generated/nirfmxinstr/nirfmxinstr_client.h
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxnr/nirfmxnr_client.cpp
  generated/nirfmxnr/nirfmxnr_client.h
  generated/nirfmxnr/nirfmxnr_service.cpp
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/codegen/metadata/nirfmxnr/functions.py
  source/codegen/metadata/nirfmxspecan/enums.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxnr_session_tests.cpp
  source/tests/system/nirfmxspecan_session_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Implementing Alex's suggested approach.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Undo accidental change in spacing.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Create examples for NR and SpecAn
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Fix build by updating boolean constants in response to PR#508.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add system-level test to get and set I32 attribute in NiRFmxBT.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix build by replacing boolean constants in response to PR#508.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add system-level test to get and set I32 attribute in NiRFmxBT. (#511)
  source/tests/system/nirfmxbt_driver_api_tests.cpp
  source/tests/system/nirfmxnr_driver_api_tests.cpp
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Added json to test
  source/tests/assets/data/WLAN_80211n_20MHz_1Seg_2Chain_MIMO.json
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/waveform_helpers.h
Owners: @reckenro, @astarche, @mgumble

Add test exercising complex number array to NiRFmxBT.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add tests exercising code to set 8- and 16-bit attributes.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Alex's feedback
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Mark method custom and re-instate BuildPortString test calls.
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  source/codegen/metadata/nirfmxinstr/functions.py
  source/custom/nirfmxinstr_service.custom.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fix length in BuildPortString custom implementation.
  source/custom/nirfmxinstr_service.custom.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Test Fixes
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/waveform_helpers.h
Owners: @reckenro, @astarche, @mgumble

add missing calls
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Use `resource` var; don't print extra newline
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Remove strncpy calls.
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Alex's feedback.
  source/custom/nirfmxinstr_service.custom.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @astarche, @mgumble, @reckenro

Alex's feedback.
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

camelCase => snake_case for local variables.
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add tests for IQFetchData
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Fixup test name
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Update with link to RFmx Instr Bug.
  source/custom/nirfmxinstr_service.custom.cpp
Owners: @astarche, @mgumble

Add system-level tests of complex and unused numeric data types to NiRFmxBT service. (#512)
  source/tests/system/nirfmxbt_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

PR feedback addressed
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/waveform_helpers.h
Owners: @reckenro, @astarche, @mgumble

Get examples working successfully
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
  source/codegen/generate_shared_service_files.py
Owners: @astarche, @mgumble, @reckenro

Add DefaultConfiguration_IQFetchDataFetchAllAvailable_DataIsFetched
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Undo accidentally included file
  source/codegen/generate_shared_service_files.py
Owners: @reckenro, @astarche, @mgumble

comment updates
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Don't raise on warnings
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Sync up scrapigen metadata for all RFmx personalities exception RFmxBT
  generated/nirfmxinstr/nirfmxinstr.proto
  generated/nirfmxinstr/nirfmxinstr_client.cpp
  generated/nirfmxinstr/nirfmxinstr_client.h
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  generated/nirfmxnr/nirfmxnr.proto
  generated/nirfmxspecan/nirfmxspecan.proto
  generated/nirfmxspecan/nirfmxspecan_client.cpp
  generated/nirfmxspecan/nirfmxspecan_client.h
  generated/nirfmxspecan/nirfmxspecan_service.cpp
  generated/nirfmxwlan/nirfmxwlan.proto
  generated/nirfmxwlan/nirfmxwlan_client.cpp
  generated/nirfmxwlan/nirfmxwlan_client.h
  generated/nirfmxwlan/nirfmxwlan_service.cpp
  source/codegen/metadata/nirfmxinstr/enums.py
  source/codegen/metadata/nirfmxinstr/functions.py
  source/codegen/metadata/nirfmxnr/enums.py
  source/codegen/metadata/nirfmxspecan/enums.py
  source/codegen/metadata/nirfmxspecan/functions.py
  source/codegen/metadata/nirfmxwlan/enums.py
  source/codegen/metadata/nirfmxwlan/functions.py
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Create examples for WLAN
  examples/nirfmxwlan/ofdm-modacc.py
  examples/nirfmxwlan/txp-basic.py
Owners: @astarche, @mgumble

Sync up scrapigen metadata for RFmxBT
  generated/nirfmxbt/nirfmxbt.proto
  generated/nirfmxbt/nirfmxbt_client.cpp
  generated/nirfmxbt/nirfmxbt_client.h
  generated/nirfmxbt/nirfmxbt_service.cpp
  source/codegen/metadata/nirfmxbt/__init__.py
  source/codegen/metadata/nirfmxbt/enums.py
  source/codegen/metadata/nirfmxbt/enums_addon.py
  source/codegen/metadata/nirfmxbt/functions.py
  source/tests/system/nirfmxbt_session_tests.cpp
Owners: @reckenro, @astarche, @mgumble

Add NWaveform Test (#513)
  source/tests/assets/data/WLAN_80211n_20MHz_1Seg_2Chain_MIMO.json
  source/tests/system/nirfmxspecan_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
  source/tests/system/waveform_helpers.h
Owners: @reckenro, @astarche, @mgumble

Use >= over == for status check.
  source/custom/nirfmxinstr_service.custom.cpp
Owners: @astarche, @mgumble

Create examples for NR and SpecAn (#510)
  examples/nirfmxnr/acp-single-carrier.py
  examples/nirfmxnr/txp-single-carrier.py
  examples/nirfmxspecan/acp-basic.py
  examples/nirfmxspecan/spectrum-basic.py
  examples/nirfmxspecan/txp-basic.py
Owners: @astarche, @mgumble

Use enum constants; clean up numeric literal
  examples/nirfmxwlan/ofdm-modacc.py
Owners: @astarche, @mgumble

Add validate_examples script for easy local testing of examples
  source/codegen/stage_client_files.py
  source/codegen/validate_examples.py
Owners: @reckenro, @astarche, @mgumble

Handle BuildPortString2 Bug by accounting for channel_number. (#514)
  generated/nirfmxinstr/nirfmxinstr_service.cpp
  source/codegen/metadata/nirfmxinstr/functions.py
  source/custom/nirfmxinstr_service.custom.cpp
  source/tests/system/nirfmxinstr_driver_api_tests.cpp
  source/tests/system/nirfmxwlan_driver_api_tests.cpp
Owners: @reckenro, @astarche, @mgumble
