Repository ni/grpc-device, changes with the owners that CODEOWNERS names for each.
All owners: @jonlugoatx, @SparkingSpork, @reckenro, @epetersoni, @kylesull30

CODEOWNERS:

# Default code owner for the repository
* @jonlugoatx

# Owners for the build files
/CMakeLists.txt   @SparkingSpork
/.github/**/*.yml @SparkingSpork
/scripts/         @SparkingSpork

# Codegen
/generated        @reckenro @jonlugoatx
/source/codegen/  @reckenro @jonlugoatx

# Core server
/source/core_server/ @epetersoni @kylesull30 @jonlugoatx

# Test
/source/tests/ @epetersoni @kylesull30

Minor
  source/server/syscfg_library.cpp
  source/tests/unit/syscfg_library_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

use streq
  source/tests/unit/syscfg_library_tests.cpp
Owners: @epetersoni, @kylesull30

[Owners]Add ErrorMessage to the gRPC API (#70)
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  source/codegen/metadata/niscope/CHANGES.md
  source/codegen/metadata/niscope/functions.py
Owners: @reckenro, @jonlugoatx

Add custom service handler file per driver.
  CMakeLists.txt
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
  source/custom/niswitch_service.custom.cpp
Owners: @SparkingSpork, @jonlugoatx

Cleanup comment in cmakelists.txt
  CMakeLists.txt
Owners: @SparkingSpork

[Owners] Update Format and Naming in ni_fake_service_tests.cpp (#72)
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Adding tests for enum functions
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Adding bigobj flag for nifake unit tests (#77)
  CMakeLists.txt
Owners: @SparkingSpork

Update readme
  README.md
Owners: @jonlugoatx

Add sections on configuring the client and on creating certificates
  README.md
Owners: @jonlugoatx

Readme update
  README.md
Owners: @jonlugoatx

Remove broken link
  README.md
Owners: @jonlugoatx

Ryan's feedback
  generated/nifake/nifake_service.cpp
  generated/niscope/niscope.proto
  generated/niscope/niscope_service.cpp
  source/codegen/common_helpers.py
  source/codegen/metadata/niscope/custom_proto.mako
  source/codegen/service.cpp.mako
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @reckenro, @jonlugoatx, @epetersoni, @kylesull30

Forgot to uncomment tests
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Updated with Charlie's test changes
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Address Charlie's comments.
  CMakeLists.txt
  source/custom/nifake_service.custom.cpp
  source/custom/niscope_service.custom.cpp
  source/custom/niswitch_service.custom.cpp
Owners: @SparkingSpork, @jonlugoatx

Expose get_exe_path() in public API and use it in test
  CMakeLists.txt
  source/server/server_configuration_parser.h
  source/tests/unit/server_configuration_parser_tests.cpp
  source/tests/utilities/run_all_tests_with_args.cpp
  source/tests/utilities/test_environment.h
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Reordering variables
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Add comment on get_exe_path()
  source/server/server_configuration_parser.cpp
Owners: @jonlugoatx

Update comment
  source/server/server_configuration_parser.cpp
Owners: @jonlugoatx

Commit Charlie's suggestion
  README.md
Owners: @jonlugoatx

Charlie suggestion
  README.md
Owners: @jonlugoatx

Peer feedback
  README.md
Owners: @jonlugoatx

Adding response status check to invalid enum input test
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Update nifake to have python-code methods custom implemented.
  generated/nifake/nifake_service.cpp
  source/codegen/common_helpers.py
  source/codegen/handler_helpers.py
  source/codegen/metadata/nifake/functions.py
  source/codegen/service.cpp.mako
  source/custom/nifake_service.custom.cpp
Owners: @reckenro, @jonlugoatx

[Owners] Adding NIFake Unit Tests for existing enum logic (#82)
  source/tests/unit/ni_fake_service_tests.cpp
Owners: @epetersoni, @kylesull30

Include nifake method for getting custom type array with python code.
  generated/nifake/nifake.proto
  generated/nifake/nifake_library.cpp
  generated/nifake/nifake_library.h
  generated/nifake/nifake_library_interface.h
  generated/nifake/nifake_mock_library.h
  generated/nifake/nifake_service.h
  source/codegen/metadata/nifake/functions.py
  source/codegen/proto_helpers.py
  source/custom/nifake_service.custom.cpp
Owners: @reckenro, @jonlugoatx

Add custom handlers for ni-fake python-code methods.
  source/custom/nifake_service.custom.cpp
Owners: @jonlugoatx

Include Copy methods as private methods on service.
  generated/nifake/nifake_service.cpp
  generated/nifake/nifake_service.h
  generated/niscope/niscope_service.cpp
  generated/niscope/niscope_service.h
  generated/niswitch/niswitch_service.cpp
  generated/niswitch/niswitch_service.h
  source/codegen/service.cpp.mako
  source/codegen/service.h.mako
  source/custom/nifake_service.custom.cpp
Owners: @reckenro, @jonlugoatx

[Owners] Assume certs folder is in same directory as config file (#76)
  CMakeLists.txt
  source/server/server_configuration_parser.cpp
  source/server/server_configuration_parser.h
  source/tests/assets/certs/test_client_self_signed_crt.pem
  source/tests/assets/certs/test_server_privatekey.pem
  source/tests/assets/certs/test_server_self_signed_crt.pem
  source/tests/assets/test_mutual_tls_config.json
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @SparkingSpork, @jonlugoatx, @epetersoni, @kylesull30

Implement all feedback exlcuding the feedback to move the SSL/TLS section to the wiki.
  README.md
  source/server/server_security_configuration.cpp
Owners: @jonlugoatx

Update the port to 31763 and fix indentation
  README.md
Owners: @jonlugoatx

Add line breaks
  README.md
Owners: @jonlugoatx

Add space
  README.md
Owners: @jonlugoatx

Pull out majority of ssl/tls info and add it to a linked wiki page.
  README.md
Owners: @jonlugoatx

Fix wiki links
  README.md
Owners: @jonlugoatx

Fix typo
  README.md
Owners: @jonlugoatx

[Owners] Update readme with port and security config info (#84)
  README.md
  source/server/server_security_configuration.cpp
Owners: @jonlugoatx

change port to 31763
  source/config/insecure_config.json
  source/config/mutual_tls.json
  source/config/server_side_tls.json
  source/server/server_security_configuration.cpp
  source/tests/unit/server_configuration_parser_tests.cpp
Owners: @jonlugoatx, @epetersoni, @kylesull30

remove unintended change
  source/server/server_security_configuration.cpp
Owners: @jonlugoatx
